Repository stryker-mutator/stryker4s, pull requests merged in 2018-08, with the labels that each got.

#40 Tests for log messages
  core/src/test/resources/logback-test.xml
  core/src/test/scala/stryker4s/MutatorTest.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  project/Settings.scala
  util/src/test/scala/stryker4s/Stryker4sSuite.scala
  util/src/test/scala/stryker4s/TestAppender.scala
  util/src/test/scala/stryker4s/scalatest/LogMatchers.scala
Labels: in progress

#43 Add contributing guide
  README.md
  docs/CONTRIBUTING.md
Labels: in progress

#38 Make process runner configurable
  README.md
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/config/TestRunner.scala
  core/src/main/scala/stryker4s/run/ProcessMutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/main/scala/stryker4s/run/process/Command.scala
  core/src/main/scala/stryker4s/run/process/ProcessRunner.scala
  core/src/main/scala/stryker4s/run/process/WindowsProcessRunner.scala
  core/src/test/resources/filledStryker4s.conf
  core/src/test/resources/scalaFiles/simpleFile.scala
  core/src/test/resources/stryker4sconfs/empty.conf
  core/src/test/resources/stryker4sconfs/filled.conf
  core/src/test/resources/stryker4sconfs/wrongTestRunner.conf
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/config/ConfigTest.scala
  core/src/test/scala/stryker4s/run/process/ProcessMutantRunnerTest.scala
  core/src/test/scala/stryker4s/stubs/TestProcessRunner.scala
  docs/CONFIGURATION.md
  project/Dependencies.scala
  util/src/main/scala/stryker4s/extensions/mutationtypes/TermNameMutationTypes.scala
  util/src/test/scala/stryker4s/scalatest/FileUtil.scala
Labels: enhancement, in progress

#47 Fix windows cmd process not being found
  core/src/main/scala/stryker4s/run/process/ProcessRunner.scala
Labels: bug, in progress
