Repository stryker-mutator/stryker4s, pull requests merged in 2019-12, with the labels that each got.

#308 Add GitHub actions dashboard CI provider
  core/src/main/scala/stryker4s/report/dashboard/Providers.scala
  core/src/test/scala/stryker4s/report/dashboard/DashboardConfigProviderTest.scala
Labels: enhancement

#309 Filter out duplicate reporters in config
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/test/resources/stryker4sconfs/duplicateKeys.conf
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/config/ConfigTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
Labels: chore

#310 Revert reporter regressions
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/main/scala/stryker4s/report/MutationRunReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
Labels: chore

#311 Use nonEmpty instead of !isEmpty
  core/src/main/scala/stryker4s/report/dashboard/Providers.scala
Labels: chore, skip-changelog

#313 Update sttp to 2.0.0-RC4
  project/Dependencies.scala
Labels: dependencies

#315 Update scalafmt-core to 2.3.0
  .scalafmt.conf
  bin/scalafmt
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/config/Thresholds.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigReaderImplicits.scala
  core/src/main/scala/stryker4s/extension/FileExtensions.scala
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/main/scala/stryker4s/extension/mutationtype/MutationTypes.scala
  core/src/main/scala/stryker4s/mutants/applymutants/MatchBuilder.scala
  core/src/main/scala/stryker4s/mutants/findmutants/FileCollector.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
  project/Release.scala
Labels: dependencies

#323 Update scalafmt-core to 2.3.1
  .scalafmt.conf
  bin/scalafmt
Labels: dependencies

#324 Update sttp to 2.0.0-RC5
  project/Dependencies.scala
Labels: dependencies

#325 Update mockito-scala-scalatest to 1.10.0
  project/Dependencies.scala
Labels: dependencies

#326 Update scalafmt-core to 2.3.2
  .scalafmt.conf
  bin/scalafmt
Labels: dependencies

#327 Update mutation-testing-elements to 1.2.3
  project/Dependencies.scala
Labels: dependencies

#328 Update mutation-testing-metrics-circe to 1.2.3
  project/Dependencies.scala
Labels: dependencies

#329 Run verify instead of just test for maven plugin
  .github/workflows/ci.yml
Labels: chore

#330 Update sbt to 1.3.5
  project/build.properties
Labels: dependencies

#331 Update log4j-api, log4j-core, ... to 2.13.0
  project/Dependencies.scala
Labels: dependencies

#320 Run mutation testing in CI
  .github/workflows/mutation-testing.yml
  README.md
  build.sbt
  core/README.md
  project/plugins.sbt
  runners/command-runner/README.md
  runners/maven/README.MD
  runners/maven/pom.xml
Labels: chore

#333 Update mockito-scala-scalatest to 1.10.1
  project/Dependencies.scala
Labels: dependencies

#334 Update pureconfig to 0.12.2
  project/Dependencies.scala
Labels: dependencies

#336 Update mockito-scala-scalatest to 1.10.2
  project/Dependencies.scala
Labels: dependencies

#338 Update sbt to 1.3.6
  project/build.properties
Labels: dependencies
