Repository stryker-mutator/stryker4s, pull requests merged in 2019-04, with the labels that each got.

#173 Remove changelog.md
  CHANGELOG.md
  README.md
Labels: in progress

#177 Move supported mutators docs
  README.md
  docs/MUTATORS.md
Labels: in progress

#174 Remove release-process.md
  README.md
  docs/stryker4s-release-process.md
Labels: in progress

#167 Make log conversion implicit
  runners/sbt/src/main/scala/stryker4s/sbt/Stryker4sPlugin.scala
Labels: in progress

#182 Githooks format
  .scalafmt.conf
  bin/scalafmt
  build.sbt
  core/src/main/scala/stryker4s/config/implicits/ConfigReaderImplicits.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigWriterImplicits.scala
  core/src/main/scala/stryker4s/report/model/mutationTestReport.scala
  core/src/test/resources/fileTests/filledDir/src/main/scala/package/target.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/run/process/ProcessMutantRunnerTest.scala
  core/src/test/scala/stryker4s/scalatest/LogMatchers.scala
  git-hooks/pre-push
  project/GitHooks.scala
  runners/maven/src/main/scala/stryker4s/run/Stryker4sMavenRunner.scala
  runners/sbt/src/sbt-test/sbt-stryker4s/test-1/src/main/scala/example/Example.scala
  runners/sbt/src/sbt-test/sbt-stryker4s/test-2.11/src/main/scala/example/Example.scala
Labels: enhancement, in progress

#181 VS Code: only format on save in Scala files
  .vscode/settings.json
Labels: in progress

#179 Fix html reporter in sbt plugin
  .travis.yml
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
  runners/sbt/src/main/scala/stryker4s/sbt/Stryker4sPlugin.scala
  runners/sbt/src/sbt-test/sbt-stryker4s/test-1/build.sbt
  runners/sbt/src/sbt-test/sbt-stryker4s/test-1/project/build.properties
  runners/sbt/src/sbt-test/sbt-stryker4s/test-1/stryker4s.conf
  runners/sbt/src/sbt-test/sbt-stryker4s/test-2.11/README.md
  runners/sbt/src/sbt-test/sbt-stryker4s/test-2.11/build.sbt
  runners/sbt/src/sbt-test/sbt-stryker4s/test-2.11/project/build.properties
  runners/sbt/src/sbt-test/sbt-stryker4s/test-2.11/project/plugins.sbt
  runners/sbt/src/sbt-test/sbt-stryker4s/test-2.11/src/main/scala/example/Example.scala
  runners/sbt/src/sbt-test/sbt-stryker4s/test-2.11/src/test/scala/example/ExampleTest.scala
  runners/sbt/src/sbt-test/sbt-stryker4s/test-2.11/stryker4s.conf
  runners/sbt/src/sbt-test/sbt-stryker4s/test-2.11/test
Labels: bug, in progress

#180 Fix release steps with open sonatype releases
  .gitignore
  project/Release.scala
Labels: bug, in progress

#185 Switch to io.stryker-mutator mutation-testing-report instead of webjars
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/test/resources/mutation-testing-report-schema.json
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/testutil/MutationTestingElementsJsonSchema.scala
  project/Dependencies.scala
  project/Settings.scala
Labels: in progress

#189 Fix release process
  .travis.yml
  project/Release.scala
  project/plugins.sbt
  runners/maven/pom.xml
Labels: in progress

#190 Remove dependency to scalameta contrib
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/main/scala/stryker4s/extension/mutationtype/MutationTypes.scala
  core/src/main/scala/stryker4s/extension/mutationtype/StringLiteral.scala
  core/src/main/scala/stryker4s/mutants/applymutants/MatchBuilder.scala
  core/src/main/scala/stryker4s/mutants/applymutants/StatementTransformer.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
  core/src/test/scala/stryker4s/scalatest/TreeEquality.scala
  project/Dependencies.scala
  project/Settings.scala
Labels: enhancement, in progress
