Repository stryker-mutator/stryker4s, pull requests merged in 2019-11, with the labels that each got.

#292 Update scalafmt-core to 2.2.2
  .scalafmt.conf
Labels: dependencies

#291 Update mockito-scala-scalatest to 1.7.1
  project/Dependencies.scala
Labels: dependencies

#294 Update maven project versions
  runners/maven/pom.xml
Labels: dependencies

#295 refactor: use mutation-testing-metrics
  .gitignore
  core/src/main/scala/stryker4s/Stryker4s.scala
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/config/ReporterType.scala
  core/src/main/scala/stryker4s/extension/mutationtype/MutationTypes.scala
  core/src/main/scala/stryker4s/extension/score/MutationScoreCalculator.scala
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/model/MutantRunResult.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/main/scala/stryker4s/report/MutationRunReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  core/src/main/scala/stryker4s/report/model/StrykerDashboardReport.scala
  core/src/main/scala/stryker4s/report/model/mutationTestReport.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/extension/FileExtensionsTest.scala
  core/src/test/scala/stryker4s/extension/score/MutationScoreCalculatorTest.scala
  core/src/test/scala/stryker4s/mutants/MutatorTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/FileCollectorTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTypeTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  core/src/test/scala/stryker4s/report/model/MutationTestResultTest.scala
  core/src/test/scala/stryker4s/run/threshold/ThresholdCheckerTest.scala
  core/src/test/scala/stryker4s/scalatest/LogMatchers.scala
  project/Dependencies.scala
  project/Release.scala
  project/Settings.scala
  runners/command-runner/src/test/scala/stryker4s/config/ProcessConfigReaderTest.scala
  runners/command-runner/src/test/scala/stryker4s/run/ProcessMutantRunnerTest.scala
  runners/maven/src/test/scala/stryker4s/maven/runner/MavenMutantRunnerTest.scala
  runners/maven/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
Labels: enhancement

#296 Remove json schema validation (done by metrics dep)
  core/src/test/scala/stryker4s/testutil/MutationTestingElementsJsonSchema.scala
  project/Dependencies.scala
  project/Settings.scala
Labels: chore

#298 Update scalameta to 4.2.5
  project/Dependencies.scala
Labels: dependencies

#297 Update mutation-testing-elements to 1.2.0
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  project/Dependencies.scala
Labels: dependencies

#300 Update sbt to 1.3.4
  project/build.properties
Labels: dependencies

#304 Update scalameta to 4.3.0
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  project/Dependencies.scala
Labels: dependencies

#305 Update scalatest to 3.1.0
  core/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  project/Dependencies.scala
  runners/maven/pom.xml
  runners/maven/src/test/scala/stryker4s/maven/runner/MavenMutantRunnerTest.scala
  runners/maven/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  runners/sbt/src/sbt-test/sbt-stryker4s/test-1/build.sbt
  runners/sbt/src/sbt-test/sbt-stryker4s/test-1/src/test/scala/example/ExampleTest.scala
  runners/sbt/src/sbt-test/sbt-stryker4s/test-1/stryker4s.conf
Labels: dependencies

#306 Fix sbt scripted tests not running in CI
  .github/workflows/ci.yml
  runners/sbt/src/sbt-test/sbt-stryker4s/test-1/src/test/scala/example/ExampleTest.scala
  runners/sbt/src/sbt-test/sbt-stryker4s/test-1/stryker4s.conf
Labels: chore

#299 Support upload of full report to stryker-dashboard
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/DashboardOptions.scala
  core/src/main/scala/stryker4s/config/ReporterType.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigReaderImplicits.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigWriterImplicits.scala
  core/src/main/scala/stryker4s/env/EnvProvider.scala
  core/src/main/scala/stryker4s/http/webIO.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/main/scala/stryker4s/report/dashboard/DashboardConfigProvider.scala
  core/src/main/scala/stryker4s/report/dashboard/Providers.scala
  core/src/main/scala/stryker4s/report/model/DashboardConfig.scala
  core/src/main/scala/stryker4s/report/model/Href.scala
  core/src/main/scala/stryker4s/report/model/ScoreOnlyReport.scala
  core/src/main/scala/stryker4s/report/model/StrykerDashboardReport.scala
  core/src/main/scala/stryker4s/run/process/ProcessRunner.scala
  core/src/test/resources/stryker4sconfs/filled.conf
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/config/ConfigTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTypeTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/dashboard/DashboardConfigProviderTest.scala
  project/Dependencies.scala
  project/Settings.scala
Labels: enhancement
