Repository stryker-mutator/stryker4s, pull requests merged in 2019-03, with the labels that each got.

#150 Logging improvements
  build.sbt
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigReaderImplicits.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigWriterImplicits.scala
  core/src/main/scala/stryker4s/mutants/Mutator.scala
  core/src/test/resources/stryker4sconfs/filled.conf
  core/src/test/resources/stryker4sconfs/invalidExcludedMutation.conf
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/config/ConfigTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
  docs/CONFIGURATION.md
  project/Settings.scala
  runners/command-runner/src/main/scala/stryker4s/run/Stryker4sArgumentHandler.scala
  runners/command-runner/src/main/scala/stryker4s/run/Stryker4sCommandRunner.scala
  runners/command-runner/src/test/scala/stryker4s/run/Stryker4sArgumentHandlerTest.scala
  runners/sbt/src/main/scala/stryker4s/sbt/SbtMutantRunner.scala
  runners/sbt/src/main/scala/stryker4s/sbt/Stryker4sPlugin.scala
  runners/sbt/src/sbt-test/sbt-stryker4s/test-1/stryker4s.conf
  runners/sbt/src/sbt-test/sbt-stryker4s/test-2.11/stryker4s.conf
Labels: in progress

#158 Refactor reporters and log detected mutants
  core/src/main/scala/stryker4s/Stryker4s.scala
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/ReporterType.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigReaderImplicits.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigWriterImplicits.scala
  core/src/main/scala/stryker4s/model/MutantRunResult.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/MutationRunReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/main/scala/stryker4s/run/process/ProcessMutantRunner.scala
  core/src/main/scala/stryker4s/run/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/run/report/MutantRunReporter.scala
  core/src/main/scala/stryker4s/run/report/Reporter.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/extension/mutationtype/MutationTypesTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTypeTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
  core/src/test/scala/stryker4s/run/process/ProcessMutantRunnerTest.scala
  core/src/test/scala/stryker4s/run/report/ReporterTest.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestReporter.scala
  runners/command-runner/src/main/scala/stryker4s/run/Stryker4sCommandRunner.scala
  runners/sbt/src/main/scala/stryker4s/sbt/SbtMutantRunner.scala
  runners/sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
Labels: in progress

#164 [HTML reporter] Download mutation-test-elements.js as dependency
  core/src/main/resources/html-report/index.html
  core/src/main/resources/html-report/mutation-test-elements.js
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  project/Dependencies.scala
  project/Settings.scala
Labels: HTML-Reporter, in progress

#170 Update to Scalameta 4.1.5
  core/src/main/scala/stryker4s/mutants/Mutator.scala
  core/src/test/scala/stryker4s/mutants/MutatorTest.scala
  project/Dependencies.scala
Labels: in progress

#160 Comply with html reporter format
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/ReporterType.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigReaderImplicits.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigWriterImplicits.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  core/src/main/scala/stryker4s/report/model/mutationTestReport.scala
  core/src/test/resources/mutation-testing-report-schema.json
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTypeTest.scala
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  core/src/test/scala/stryker4s/report/model/MutationTestResultTest.scala
  core/src/test/scala/stryker4s/testutil/MutationTestingElementsJsonSchema.scala
  docs/CONFIGURATION.md
  project/Dependencies.scala
  project/Settings.scala
Labels: enhancement, in progress

#171 Add vscode settings and suggested extensions
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: enhancement, in progress

#172 Write HTML report file
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
Labels: in progress

#175 Html report documentation
  docs/CONFIGURATION.md
Labels: in progress

#176 Feat html reporter
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/ReporterType.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigReaderImplicits.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigWriterImplicits.scala
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  core/src/main/scala/stryker4s/report/model/mutationTestReport.scala
  core/src/test/resources/mutation-testing-report-schema.json
  core/src/test/resources/stryker4sconfs/filled.conf
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTypeTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  core/src/test/scala/stryker4s/report/model/MutationTestResultTest.scala
  core/src/test/scala/stryker4s/testutil/MutationTestingElementsJsonSchema.scala
  docs/CONFIGURATION.md
  project/Dependencies.scala
  project/Settings.scala
Labels: enhancement, in progress

#163 Fix topstatement for ! and literals
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/main/scala/stryker4s/mutants/applymutants/MatchBuilder.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
Labels: bug, in progress

#151 Maven plugin
  .gitignore
  .travis.yml
  README.md
  docs/CONFIGURATION.md
  project/Release.scala
  project/Settings.scala
  runners/maven/README.MD
  runners/maven/pom.xml
  runners/maven/settings.xml
  runners/maven/src/main/scala/stryker4s/run/MavenMutantRunner.scala
  runners/maven/src/main/scala/stryker4s/run/Stryker4sMavenPlugin.scala
  runners/maven/src/main/scala/stryker4s/run/Stryker4sMavenRunner.scala
  runners/maven/src/test/scala/stryker4s/run/MavenMutantRunnerTest.scala
  runners/maven/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
Labels: enhancement, in progress
