Repository stryker-mutator/stryker4s, pull requests merged in 2019-10, with the labels that each got.

#285 Update scalafmt to 2.2.1
  .scalafmt.conf
  bin/scalafmt
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
Labels: dependencies

#286 Add GitHub CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .travis.yml
  README.md
Labels: chore

#287 Update circe-core, circe-generic to 0.12.3
  project/Dependencies.scala
Labels: dependencies

#290 Update scalameta to 4.2.4
  project/Dependencies.scala
Labels: dependencies

#283 Improve logging during config load
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/test/resources/stryker4sconfs/overfilled.conf
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/config/ConfigTest.scala
  project/Dependencies.scala
  project/Settings.scala
Labels: enhancement
