Repository stryker-mutator/stryker4s, pull requests merged in 2020-08, with the labels that each got.

#544 Improve config validations
  command-runner/src/test/resources/config/empty.conf
  command-runner/src/test/resources/config/filledProcess.conf
  command-runner/src/test/scala/stryker4s/config/ProcessConfigReaderTest.scala
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/config/DashboardOptions.scala
  core/src/main/scala/stryker4s/config/ExcludedMutations.scala
  core/src/main/scala/stryker4s/config/Thresholds.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigReaderImplicits.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigWriterImplicits.scala
  core/src/main/scala/stryker4s/extension/exception/stryker4sException.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantMatcher.scala
  core/src/main/scala/stryker4s/report/model/DashboardConfig.scala
  core/src/test/resources/stryker4sconfs/duplicateKeys.conf
  core/src/test/resources/stryker4sconfs/empty.conf
  core/src/test/resources/stryker4sconfs/filled.conf
  core/src/test/resources/stryker4sconfs/invalidExcludedMutation.conf
  core/src/test/resources/stryker4sconfs/overfilled.conf
  core/src/test/resources/stryker4sconfs/wrongReporter.conf
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/config/ConfigTest.scala
  core/src/test/scala/stryker4s/mutants/MutatorTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/dashboard/DashboardConfigProviderTest.scala
  core/src/test/scala/stryker4s/run/threshold/ThresholdCheckerTest.scala
  core/src/test/scala/stryker4s/testutil/ExampleConfigs.scala
  project/Dependencies.scala
  project/Settings.scala
Labels: chore

#545 Sort imports
  command-runner/src/main/scala/stryker4s/command/Stryker4sMain.scala
  command-runner/src/main/scala/stryker4s/command/runner/ProcessMutantRunner.scala
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/config/DashboardOptions.scala
  core/src/main/scala/stryker4s/config/TestFilter.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigReaderImplicits.scala
  core/src/main/scala/stryker4s/extension/ImplicitMutationConversion.scala
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/main/scala/stryker4s/extension/mutationtype/ArgMethodExpression.scala
  core/src/main/scala/stryker4s/extension/mutationtype/MutationTypes.scala
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/model/Mutant.scala
  core/src/main/scala/stryker4s/model/MutatedFile.scala
  core/src/main/scala/stryker4s/mutants/Mutator.scala
  core/src/main/scala/stryker4s/mutants/applymutants/MatchBuilder.scala
  core/src/main/scala/stryker4s/mutants/applymutants/StatementTransformer.scala
  core/src/main/scala/stryker4s/mutants/findmutants/FileCollector.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantFinder.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantMatcher.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/main/scala/stryker4s/report/MutationRunReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/main/scala/stryker4s/report/dashboard/DashboardConfigProvider.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/main/scala/stryker4s/run/process/ProcessRunner.scala
  core/src/main/scala/stryker4s/run/process/WindowsProcessRunner.scala
  sbt/src/main/scala/stryker4s/model/SbtRunnerContext.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: chore, skip-changelog

#546 Inject reporters into (renamed) AggregateReporter
  command-runner/src/test/scala/stryker4s/run/ProcessMutantRunnerTest.scala
  core/src/main/scala/stryker4s/env/package.scala
  core/src/main/scala/stryker4s/report/AggregateReporter.scala
  core/src/main/scala/stryker4s/report/dashboard/DashboardConfigProvider.scala
  core/src/main/scala/stryker4s/report/dashboard/Providers.scala
  core/src/main/scala/stryker4s/report/package.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
Labels: chore

#547 Remove TreeEquality
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/extension/mutationtype/MethodExpressionTest.scala
  core/src/test/scala/stryker4s/extension/mutationtype/MutationTypesTest.scala
  core/src/test/scala/stryker4s/mutants/MutatorTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/StatementTransformerTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
  core/src/test/scala/stryker4s/scalatest/TreeEquality.scala
  core/src/test/scala/stryker4s/scalatest/TreeEqualityTest.scala
Labels: chore

#549 Update async-http-client-backend-cats, ... to 2.2.4
  project/Dependencies.scala
Labels: dependencies

#548 Update scalatest to 3.2.1
  maven/pom.xml
  project/Dependencies.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/build.sbt
Labels: dependencies

#550 Propagate active profiles from Maven plugin configuration to stryker runs
  maven/README.MD
  maven/src/main/scala/stryker4s/maven/runner/MavenMutantRunner.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenMutantRunnerTest.scala
Labels: enhancement

#551 Fix sbt scripted tests not running
  .github/workflows/ci.yml
Labels: bug

#558 Update sbt-projectmatrix to 0.6.0
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
  docs/CONTRIBUTING.md
  maven/README.MD
  project/Release.scala
  project/plugins.sbt
  sbt/src/sbt-test/sbt-stryker4s/test-1/README.md
Labels: dependencies

#559 Update mutation-testing-elements, mutation-testing-metrics to 1.4.0
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  project/Dependencies.scala
Labels: dependencies

#560 Update scalameta to 4.3.21
  project/Dependencies.scala
Labels: dependencies

#561 Update async-http-client-backend-cats, ... to 2.2.6
  project/Dependencies.scala
Labels: dependencies
