Repository stryker-mutator/stryker4s, pull requests merged in 2020-11, with the labels that each got.

#624 Update sbt to 1.4.2
  project/build.properties
Labels: dependencies

#623 Rework logging
  command-runner/src/main/resources/log4j2.xml
  command-runner/src/main/scala/stryker4s/command/Stryker4sArgumentHandler.scala
  command-runner/src/main/scala/stryker4s/command/Stryker4sCommandRunner.scala
  command-runner/src/main/scala/stryker4s/command/Stryker4sMain.scala
  command-runner/src/main/scala/stryker4s/command/runner/ProcessMutantRunner.scala
  command-runner/src/main/scala/stryker4s/log/Slf4jLogger.scala
  command-runner/src/test/scala/stryker4s/config/ProcessConfigReaderTest.scala
  command-runner/src/test/scala/stryker4s/run/Stryker4sArgumentHandlerTest.scala
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/log/Logger.scala
  core/src/main/scala/stryker4s/mutants/Mutator.scala
  core/src/main/scala/stryker4s/mutants/applymutants/MatchBuilder.scala
  core/src/main/scala/stryker4s/mutants/findmutants/FileCollector.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantFinder.scala
  core/src/main/scala/stryker4s/report/AggregateReporter.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/main/scala/stryker4s/report/dashboard/Providers.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/main/scala/stryker4s/run/process/ProcessRunner.scala
  core/src/main/scala/stryker4s/run/process/UnixProcessRunner.scala
  core/src/main/scala/stryker4s/run/process/WindowsProcessRunner.scala
  core/src/test/resources/log4j2-test.xml
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/mutants/AddAllMutationsTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/FileCollectorTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/run/process/ProcessRunnerTest.scala
  core/src/test/scala/stryker4s/scalatest/LogMatchers.scala
  core/src/test/scala/stryker4s/testutil/LogLevel.scala
  core/src/test/scala/stryker4s/testutil/TestAppender.scala
  core/src/test/scala/stryker4s/testutil/TestLogger.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestProcessRunner.scala
  maven/src/main/scala/stryker4s/log/MavenMojoLogger.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMain.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMavenRunner.scala
  maven/src/main/scala/stryker4s/maven/runner/MavenMutantRunner.scala
  maven/src/test/scala/stryker4s/testutil/NoopLogger.scala
  maven/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  project/Dependencies.scala
  project/Settings.scala
  sbt/src/main/scala/stryker4s/log/SbtLogger.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/LegacySbtTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/TestRunnerConnection.scala
Labels: enhancement

#625 Update sbt-ci-release to 1.5.4
  project/plugins.sbt
Labels: dependencies

#626 Update dotty to Scala 3.0.0-M1
  .github/workflows/ci.yml
  project/Dependencies.scala
  project/Settings.scala
Labels: chore

#627 Update mutation-testing-elements to 1.4.2
  project/Dependencies.scala
Labels: dependencies

#628 Update mutation-testing-metrics-circe to 1.4.2
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  project/Dependencies.scala
Labels: dependencies

#629 Update mutation-testing-elements to 1.4.3
  project/Dependencies.scala
Labels: dependencies

#631 Update mockito-scala-scalatest to 1.16.1
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#632 Update cats-effect-testing-scalatest to 0.4.2
  project/Dependencies.scala
Labels: dependencies

#633 Update scalatest to 3.2.3
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#634 Update fs2-core, fs2-io to 2.4.5
  project/Dependencies.scala
Labels: dependencies

#636 Update log4j-slf4j-impl to 2.14.0
  project/Dependencies.scala
Labels: dependencies

#635 Update sbt-tpolecat to 0.1.15
  project/plugins.sbt
Labels: dependencies

#637 Update mockito-scala-scalatest to 1.16.2
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#639 Update sbt-dotty to 0.4.6
  project/plugins.sbt
Labels: dependencies

#638 Use ScalaTests ExecutionContext when running AsyncSpec
  command-runner/src/test/scala/stryker4s/run/ProcessMutantRunnerTest.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
  core/src/test/scala/stryker4s/testutil/MockitoSuite.scala
  core/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  project/Dependencies.scala
  project/Settings.scala
Labels: chore

#640 docs(sidebar): add custom sidebar
  docs/sidebar.json
Labels: docs

#642 docs(configuration): fancify the configuration docs
  docs/configuration.md
Labels: docs

#643 Update mockito-scala-cats, ... to 1.16.3
  project/Dependencies.scala
Labels: dependencies

#647 Update Scala 2.13 to 2.13.4
  command-runner/src/main/scala/stryker4s/command/runner/ProcessMutantRunner.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantFinder.scala
  project/Dependencies.scala
Labels: dependencies

#648 Update scalameta to 4.4.0
  project/Dependencies.scala
Labels: dependencies

#650 Update sbt to 1.4.4
  project/build.properties
Labels: dependencies

#651 Update fs2-io to 2.4.6
  project/Dependencies.scala
Labels: dependencies

#652 Update cats-core to 2.3.0
  project/Dependencies.scala
Labels: dependencies

#653 Update cats-effect to 2.3.0
  project/Dependencies.scala
Labels: dependencies

#654 Update Scala 3 to 3.0.0-M2
  project/Dependencies.scala
Labels: dependencies
