Repository stryker-mutator/stryker4s, pull requests merged in 2020-05, with the labels that each got.

#443 Update sttp to 2.1.0
  project/Dependencies.scala
Labels: dependencies

#444 Update Scalafmt to 2.5.0
  .scalafmt.conf
  bin/scalafmt
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/main/scala/stryker4s/extension/mutationtype/ArgMethodExpression.scala
  core/src/main/scala/stryker4s/extension/mutationtype/NoArgMethodExpression.scala
  core/src/main/scala/stryker4s/extension/mutationtype/StringLiteral.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/project/plugins.sbt
Labels: dependencies

#446 Update scalafmt-core to 2.5.1
  .scalafmt.conf
Labels: dependencies

#445 Update sttp to 2.1.1
  project/Dependencies.scala
Labels: dependencies

#447 Setup VS Code devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: chore

#448 Add sbt-projectmatrix
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
  build.sbt
  maven/README.MD
  project/Dependencies.scala
  project/Release.scala
  project/Settings.scala
  project/plugins.sbt
Labels: chore

#455 (docs) log-level can't be set in stryker4s.conf
  docs/CONFIGURATION.md
Labels: docs

#456 Filter out scalacOptions that can break on Scala 2.13 projects
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: bug

#457 Update sbt-stryker4s to 0.7.3
  project/plugins.sbt
Labels: dependencies

#458 Update log4j-api, log4j-core, ... to 2.13.3
  project/Dependencies.scala
Labels: dependencies

#462 Update mockito-scala-scalatest to 1.14.2
  project/Dependencies.scala
Labels: dependencies

#465 Update better-files to 3.9.1
  project/Dependencies.scala
Labels: dependencies

#461 Add test-filter to Config
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/TestFilter.scala
  core/src/test/scala/stryker4s/config/ConfigTest.scala
  core/src/test/scala/stryker4s/config/TestFilterTest.scala
  docs/CONFIGURATION.md
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/src/test/scala/example/IgnoreMeTest.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/stryker4s.conf
Labels: enhancement

#464 Update sttp to 2.1.2
  project/Dependencies.scala
Labels: dependencies

#466 Add test-filter to maven plugin
  docs/CONFIGURATION.md
  maven/src/main/scala/stryker4s/maven/runner/MavenMutantRunner.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenMutantRunnerTest.scala
Labels: enhancement

#469 Update scalameta to 4.3.12
  project/Dependencies.scala
Labels: dependencies

#470 fix: include pattern-matches in topStatements
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
Labels: bug

#471 Update some Maven project dependencies
  maven/pom.xml
Labels: chore

#473 Add unused:locals to scalacOptions blacklist
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: bug

#472 Update sttp to 2.1.4
  project/Dependencies.scala
Labels: dependencies

#474 Rework topStatement logic and log if mutations aren't added
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/main/scala/stryker4s/mutants/applymutants/MatchBuilder.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
Labels: bug

#475 Update sbt-stryker4s to 0.8.0
  project/plugins.sbt
Labels: dependencies

#478 Update scalafmt-core to 2.5.3
  .scalafmt.conf
  bin/scalafmt
Labels: dependencies

#480 Update sttp to 2.1.5
  project/Dependencies.scala
Labels: dependencies

#481 Update scalameta to 4.3.13
  project/Dependencies.scala
Labels: dependencies

#482 Update sbt to 1.3.11
  project/build.properties
Labels: dependencies

#483 Fix catch-statements not being included in mutations
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
Labels: bug

#484 Update cache to use multi-paths from v2
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/release.yml
Labels: chore

#486 Update sbt to 1.3.12
  project/build.properties
Labels: dependencies

#485 Update sbt-stryker4s to 0.8.1
  project/plugins.sbt
Labels: dependencies

#487 Update stryker4s-maven-plugin to 0.8.1
  maven/pom.xml
Labels: dependencies

#488 Call reporters asynchronously
  command-runner/src/main/scala/stryker4s/command/Stryker4sMain.scala
  command-runner/src/test/scala/stryker4s/run/ProcessMutantRunnerTest.scala
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/main/scala/stryker4s/report/MutationRunReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
  core/src/test/scala/stryker4s/scalatest/LogMatchers.scala
  core/src/test/scala/stryker4s/testutil/MockitoSuite.scala
  core/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMain.scala
  project/Dependencies.scala
  project/Settings.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
Labels: enhancement
