Repository stryker-mutator/stryker4s, pull requests merged in 2020-10, with the labels that each got.

#603 Use setup-java instead of setup-scala
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/release.yml
Labels: chore

#602 Update scalameta to 4.3.24
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  project/Dependencies.scala
Labels: dependencies

#601 Update scalafmt-core to 2.7.4
  .scalafmt.conf
  bin/scalafmt
  command-runner/src/main/scala/stryker4s/command/Stryker4sArgumentHandler.scala
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/extension/ImplicitMutationConversion.scala
  core/src/main/scala/stryker4s/extension/mutationtype/ArgMethodExpression.scala
  core/src/main/scala/stryker4s/extension/mutationtype/MutationTypes.scala
  core/src/main/scala/stryker4s/extension/mutationtype/NoArgMethodExpression.scala
  core/src/main/scala/stryker4s/mutants/findmutants/FileCollector.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
  core/src/test/scala/stryker4s/scalatest/LogMatchers.scala
  core/src/test/scala/stryker4s/testutil/TestAppender.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestProcessRunner.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
Labels: dependencies

#598 Update sbt to 1.4.0
  .gitignore
  project/Settings.scala
  project/build.properties
Labels: dependencies

#604 Revert back to sbt 1.3.13
  project/build.properties
Labels: bug

#605 Go back to setup-scala
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/release.yml
  project/build.properties
Labels: bug, skip-changelog

#606 Update sbt-tpolecat to 0.1.14
  project/plugins.sbt
Labels: dependencies

#608 Update sbt-dotty to 0.4.3
  project/plugins.sbt
Labels: dependencies

#609 Update scalafmt-core to 2.7.5
  .scalafmt.conf
Labels: dependencies

#610 Update sbt-dotty to 0.4.4
  project/plugins.sbt
Labels: dependencies

#611 Update sbt to 1.4.1
  project/build.properties
Labels: dependencies

#615 Update mutation-testing-elements to 1.4.1
  project/Dependencies.scala
Labels: dependencies

#618 Setup manual trigger for mutation-testing workflow
  .github/workflows/mutation-testing.yml
Labels: chore

#614 Go back to sbt 1.3.13
  project/build.properties
Labels: bug, skip-changelog

#616 Set up cats-effect-testing-scalatest
  command-runner/src/test/scala/stryker4s/run/ProcessMutantRunnerTest.scala
  core/src/main/scala/stryker4s/extension/ResourceExtensions.scala
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/extension/CatsEffectExtensionsTest.scala
  core/src/test/scala/stryker4s/extension/ResourceExtensionsTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
  core/src/test/scala/stryker4s/testutil/MockitoSuite.scala
  core/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  project/Dependencies.scala
  project/Settings.scala
Labels: chore

#619 Update sbt-dotty to 0.4.5
  project/plugins.sbt
Labels: dependencies
