Repository stryker-mutator/stryker4s, pull requests merged in 2020-12, with the labels that each got.

#655 Update sbt-projectmatrix to 0.7.0
  project/plugins.sbt
Labels: dependencies

#656 Update sbt-tpolecat to 0.1.16
  project/plugins.sbt
Labels: dependencies

#658 Update scalameta to 4.4.1
  project/Dependencies.scala
Labels: dependencies

#657 Update sbt-ci-release to 1.5.5
  project/plugins.sbt
Labels: dependencies

#659 Use gpg2 to sign releases
  .github/workflows/release.yml
  maven/pom.xml
Labels: chore

#660 Update cats-effect-testing-scalatest to 0.5.0
  project/Dependencies.scala
Labels: dependencies

#661 Update scalameta to 4.4.2
  project/Dependencies.scala
Labels: dependencies

#663 Update sbt to 1.4.5
  project/build.properties
Labels: dependencies

#664 Update sbt-dotty to 0.5.0
  project/plugins.sbt
Labels: dependencies

#667 Update Scala 3 to 3.0.0-M3
  project/Dependencies.scala
Labels: dependencies

#669 Update sbt-dotty to 0.5.1
  project/plugins.sbt
Labels: dependencies

#670 Add projectRoot to report JSON
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
Labels: enhancement

#671 Update cats-core, cats-effect to 2.3.1
  project/Dependencies.scala
Labels: dependencies

#666 Mutant coverage (sbt plugin)
  .github/workflows/ci.yml
  api/src/main/scala-2.13+/stryker4s/ScalaVersionCompat.scala
  api/src/main/scala-2.13-/stryker4s/ScalaVersionCompat.scala
  api/src/main/scala/stryker4s/ScalaVersionCompatOps.scala
  api/src/main/scala/stryker4s/api/testprocess/api.scala
  api/src/main/scala/stryker4s/api/testprocess/package.scala
  build.sbt
  command-runner/src/main/scala/stryker4s/command/Stryker4sCommandRunner.scala
  command-runner/src/main/scala/stryker4s/command/runner/ProcessMutantRunner.scala
  command-runner/src/test/scala/stryker4s/run/ProcessMutantRunnerTest.scala
  core/src/main/scala/stryker4s/extension/ResourceExtensions.scala
  core/src/main/scala/stryker4s/model/InitialTestRunCoverageReport.scala
  core/src/main/scala/stryker4s/model/MutantRunResult.scala
  core/src/main/scala/stryker4s/mutants/applymutants/ActiveMutationContext.scala
  core/src/main/scala/stryker4s/mutants/applymutants/CoverageMatchBuilder.scala
  core/src/main/scala/stryker4s/mutants/applymutants/MatchBuilder.scala
  core/src/main/scala/stryker4s/report/AggregateReporter.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/main/scala/stryker4s/report/MutationRunReporter.scala
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/main/scala/stryker4s/run/package.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/mutants/MutatorTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMavenRunner.scala
  maven/src/main/scala/stryker4s/maven/runner/MavenMutantRunner.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenMutantRunnerTest.scala
  project/Release.scala
  project/Settings.scala
  sbt-testrunner/src/main/scala/stryker4s/package.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/MessageHandler.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/TestInterfaceMapper.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/TestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/LegacySbtTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: enhancement

#672 Update sbt-stryker4s to 0.10.0
  project/plugins.sbt
Labels: dependencies

#673 Update scalameta to 4.4.3
  project/Dependencies.scala
Labels: dependencies

#674 Update fs2-core, fs2-io to 2.5.0
  project/Dependencies.scala
Labels: dependencies

#675 Update scalameta to 4.4.4
  project/Dependencies.scala
Labels: dependencies

#676 Update mutation-testing-metrics to 1.5.1
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/main/scala/stryker4s/report/MutationRunReporter.scala
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  project/Dependencies.scala
Labels: dependencies

#679 Update sbt to 1.4.6
  project/build.properties
Labels: dependencies

#680 Update mutation-testing-elements to 1.5.2
  project/Dependencies.scala
Labels: dependencies

#681 Support Scala 3 syntax with configurable scala-dialect
  .scalafmt.conf
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigReaderImplicits.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantFinder.scala
  core/src/test/resources/scalaFiles/scala3File.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/testutil/ExampleConfigs.scala
  docs/configuration.md
Labels: enhancement
