Repository stryker-mutator/stryker4s, pull requests merged in 2020-03, with the labels that each got.

#383 Update log4j-api, log4j-core, ... to 2.13.1
  project/Dependencies.scala
Labels: dependencies

#385 Update mockito-scala-scalatest to 1.11.4
  project/Dependencies.scala
Labels: dependencies

#387 Update sttp to 2.0.2
  project/Dependencies.scala
Labels: dependencies

#388 Update circe to 2.0.3
  project/Dependencies.scala
Labels: dependencies

#390 Update sttp to 2.0.4
  project/Dependencies.scala
Labels: dependencies

#391 Update sttp to 2.0.5
  project/Dependencies.scala
Labels: dependencies

#392 perf(sbt): don't fork every test-run
  runners/sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: enhancement

#393 Use sbt executeTests task for better result inference
  runners/sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: chore

#394 Update scalameta to 4.3.4
  project/Dependencies.scala
Labels: dependencies

#395 Update mockito-scala-scalatest to 1.12.0
  project/Dependencies.scala
Labels: dependencies

#398 Update sttp to 2.0.6
  project/Dependencies.scala
Labels: dependencies

#403 Update scalameta to 4.3.6
  project/Dependencies.scala
Labels: dependencies

#399 Update mockito-scala-scalatest to 1.13.0
  project/Dependencies.scala
Labels: dependencies

#404 Update Scala to 2.12.11
  project/Dependencies.scala
Labels: dependencies

#405 Revert "perf(sbt): don't fork every test-run"
  runners/sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: skip-changelog

#406 Update scalameta to 4.3.7
  project/Dependencies.scala
Labels: dependencies

#408 Hide transfer-progress for mvn commands
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
  project/Release.scala
Labels: chore

#407 Add cache to github actions
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/release.yml
Labels: chore

#409 Update mockito-scala-scalatest to 1.13.1
  project/Dependencies.scala
Labels: dependencies

#414 Update sbt to 1.3.9
  project/build.properties
Labels: dependencies
