Repository stryker-mutator/stryker4s, pull requests merged in 2020-07, with the labels that each got.

#526 Update scalameta to 4.3.18
  project/Dependencies.scala
Labels: dependencies

#527 Aggregate all projectmatrix projects in root
  .github/workflows/ci.yml
  build.sbt
  docs/CONTRIBUTING.md
  project/Release.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/README.md
Labels: chore

#528 Report sbt Error TestResult correctly as failed instead of error
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: bug

#529 Handle NaN mutation score in report correctly
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
Labels: bug

#533 Update stryker4s to v0.9.1
  maven/pom.xml
  project/plugins.sbt
Labels: dependencies

#535 Update scalameta to 4.3.19
  project/Dependencies.scala
Labels: dependencies

#536 Update scalafmt-core to 2.6.3
  .scalafmt.conf
Labels: dependencies

#537 Update scalameta to 4.3.20
  project/Dependencies.scala
Labels: dependencies

#538 Update Scala 2.12 to 2.12.12
  project/Dependencies.scala
Labels: dependencies

#539 Update async-http-client-backend-cats, ... to 2.2.2
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  project/Dependencies.scala
Labels: dependencies

#540 Update scalafmt-core to 2.6.4
  .scalafmt.conf
Labels: dependencies

#542 Update Maven scala-version to 2.12.12
  maven/pom.xml
Labels: dependencies

#543 Update async-http-client-backend-cats, ... to 2.2.3
  project/Dependencies.scala
Labels: dependencies
