Repository stryker-mutator/stryker4s, pull requests merged in 2020-01, with the labels that each got.

#341 Update mockito-scala-scalatest to 1.10.3
  project/Dependencies.scala
Labels: dependencies

#339 Update sbt-ci-release to 1.5.0
  project/plugins.sbt
Labels: dependencies

#340 Update sttp to 2.0.0-RC6
  project/Dependencies.scala
Labels: dependencies

#343 Update mockito-scala-scalatest to 1.10.4
  project/Dependencies.scala
Labels: dependencies

#345 Update sbt to 1.3.7
  project/build.properties
Labels: dependencies

#349 Update mockito-scala-scalatest to 1.10.6
  project/Dependencies.scala
Labels: dependencies

#350 Update mockito-scala-scalatest to 1.11.0
  project/Dependencies.scala
Labels: dependencies

#351 Update sttp to 2.0.0-RC7
  project/Dependencies.scala
Labels: dependencies

#352 Update mockito-scala-scalatest to 1.11.1
  project/Dependencies.scala
Labels: dependencies

#354 Use sbt-tpolecat for scalacOptions
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/extension/mutationtype/ArgMethodExpression.scala
  core/src/main/scala/stryker4s/extension/mutationtype/NoArgMethodExpression.scala
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
  core/src/test/scala/stryker4s/run/threshold/ThresholdCheckerTest.scala
  core/src/test/scala/stryker4s/testutil/TestAppender.scala
  project/Settings.scala
  project/plugins.sbt
Labels: chore

#355 Update github workflow versions
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/release-management.yml
  .github/workflows/release.yml
Labels: chore

#357 Blacklist scalacOptions that can cause errors
  .github/workflows/mutation-testing.yml
  runners/sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: bug

#356 Cross-build to Scala 2.13
  .github/workflows/ci.yml
  build.sbt
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/extension/ImplicitMutationConversion.scala
  core/src/main/scala/stryker4s/mutants/applymutants/MatchBuilder.scala
  core/src/main/scala/stryker4s/mutants/findmutants/FileCollector.scala
  core/src/main/scala/stryker4s/run/process/ProcessRunner.scala
  core/src/test/scala/stryker4s/report/dashboard/DashboardConfigProviderTest.scala
  project/Dependencies.scala
  project/Settings.scala
  runners/command-runner/src/test/scala/stryker4s/config/ProcessConfigReaderTest.scala
Labels: enhancement

#358 Update sbt-stryker4s to 0.7.2
  project/plugins.sbt
Labels: dependencies
