Repository stryker-mutator/stryker4s, pull requests merged in 2020-04, with the labels that each got.

#416 Update mockito-scala-scalatest to 1.13.4
  project/Dependencies.scala
Labels: dependencies

#413 Replace gitter with slack badge
  README.md
Labels: chore, skip-changelog

#417 Update circe to 2.0.7
  project/Dependencies.scala
Labels: dependencies

#420 Update mockito-scala-scalatest to 1.13.7
  project/Dependencies.scala
Labels: dependencies

#421 Update mockito-scala-scalatest to 1.13.8
  project/Dependencies.scala
Labels: dependencies

#424 Update mockito-scala-scalatest to 1.13.9
  project/Dependencies.scala
Labels: dependencies

#425 Update scalameta to 4.3.8
  project/Dependencies.scala
Labels: dependencies

#411 Update mutation-testing-metrics-circe to 1.3.1
  project/Dependencies.scala
Labels: dependencies

#426 Update sbt to 1.3.10
  project/build.properties
Labels: dependencies

#427 Update sttp to 2.0.8
  project/Dependencies.scala
Labels: dependencies

#429 Update sbt-ci-release to 1.5.3
  project/plugins.sbt
Labels: dependencies

#428 Update sttp to 2.0.9
  project/Dependencies.scala
Labels: dependencies

#430 Change Stryker4sSuite to abstract class
  core/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  runners/maven/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
Labels: chore, skip-changelog

#431 Change most case classes/traits to be final/sealed
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/DashboardOptions.scala
  core/src/main/scala/stryker4s/config/ExcludedMutations.scala
  core/src/main/scala/stryker4s/config/TestRunner.scala
  core/src/main/scala/stryker4s/config/Thresholds.scala
  core/src/main/scala/stryker4s/extension/mutationtype/ArgMethodExpression.scala
  core/src/main/scala/stryker4s/extension/mutationtype/NoArgMethodExpression.scala
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/model/Mutant.scala
  core/src/main/scala/stryker4s/model/MutantRunResult.scala
  core/src/main/scala/stryker4s/model/MutatedFile.scala
  core/src/main/scala/stryker4s/model/MutationsInSource.scala
  core/src/main/scala/stryker4s/model/TransformedMutants.scala
  core/src/main/scala/stryker4s/report/MutationRunReporter.scala
  core/src/main/scala/stryker4s/report/dashboard/Providers.scala
  core/src/main/scala/stryker4s/report/model/DashboardConfig.scala
  core/src/main/scala/stryker4s/report/model/Href.scala
  core/src/main/scala/stryker4s/report/model/ScoreOnlyReport.scala
  core/src/main/scala/stryker4s/run/process/Command.scala
  core/src/test/resources/fileTests/filledDir/src/main/scala/package/target.scala
  core/src/test/resources/scalaFiles/ExampleClass.scala
  core/src/test/scala/stryker4s/extension/mutationtype/MutationTypesTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
  runners/command-runner/src/main/scala/stryker4s/command/config/ProcessRunnerConfig.scala
Labels: chore

#434 Update to Scala 2.13.2
  project/Dependencies.scala
Labels: dependencies

#435 Update scalameta to 4.3.9
  project/Dependencies.scala
Labels: dependencies

#436 Update log4j-api, log4j-core, ... to 2.13.2
  project/Dependencies.scala
Labels: dependencies

#437 Update scalameta to 4.3.10
  project/Dependencies.scala
Labels: dependencies

#438 Update mockito-scala-scalatest to 1.13.10
  project/Dependencies.scala
Labels: dependencies

#440 Update mockito-scala-scalatest to 1.13.11
  project/Dependencies.scala
Labels: dependencies

#442 Update mockito-scala-scalatest to 1.14.0
  project/Dependencies.scala
Labels: dependencies
