Repository stryker-mutator/stryker4s, pull requests merged in 2020-06, with the labels that each got.

#491 Refactor MutantRunners to setup state in context object
  build.sbt
  command-runner/src/main/scala/stryker4s/command/runner/ProcessMutantRunner.scala
  command-runner/src/main/scala/stryker4s/model/CommandRunnerContext.scala
  core/src/main/scala/stryker4s/model/MutantRunResult.scala
  core/src/main/scala/stryker4s/model/TestRunnerContext.scala
  core/src/main/scala/stryker4s/run/InitialTestRun.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  maven/src/main/scala/stryker4s/maven/runner/MavenMutantRunner.scala
  maven/src/main/scala/stryker4s/model/MavenRunnerContext.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenMutantRunnerTest.scala
  sbt/src/main/scala/stryker4s/model/SbtRunnerContext.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: chore

#493 Update sbt-tpolecat to 0.1.12
  project/plugins.sbt
Labels: dependencies

#494 Update scalameta to 4.3.14
  project/Dependencies.scala
Labels: dependencies

#498 Update circe, okhttp-backend to 2.2.0
  project/Dependencies.scala
Labels: dependencies

#500 Update scalameta to 4.3.15
  project/Dependencies.scala
Labels: dependencies

#499 Fixes stryker-mutator/stryker4s#495
  README.md
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantMatcher.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
Labels: enhancement

#505 Update scalatest to 3.2.0
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#506 Update scalafmt-core to 2.6.1
  .scalafmt.conf
  bin/scalafmt
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/config/implicits/ConfigReaderImplicits.scala
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
Labels: dependencies

#508 Update sttp (circe, okhttp-backend) to 2.2.1
  project/Dependencies.scala
Labels: dependencies

#511 Introduce cats-effect, fs2 for reporters
  command-runner/src/main/scala/stryker4s/command/Stryker4sArgumentHandler.scala
  command-runner/src/main/scala/stryker4s/command/Stryker4sMain.scala
  command-runner/src/test/scala/stryker4s/run/ProcessMutantRunnerTest.scala
  command-runner/src/test/scala/stryker4s/run/Stryker4sArgumentHandlerTest.scala
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/main/scala/stryker4s/report/MutationRunReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/main/scala/stryker4s/run/process/ProcessRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
  core/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMain.scala
  project/Dependencies.scala
  project/Settings.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
Labels: enhancement

#512 Use java path for File IO where possible
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
Labels: chore

#516 Fix crossPublish not publishing all Scala versions
  project/Release.scala
Labels: bug

#517 Fix file reporters not writing to file
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
  core/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
Labels: bug

#518 Update sbt-tpolecat to 0.1.13
  project/plugins.sbt
Labels: dependencies

#520 Update sbt to 1.3.13
  project/build.properties
Labels: dependencies

#519 Update pureconfig to 0.13.0
  command-runner/src/test/scala/stryker4s/config/ProcessConfigReaderTest.scala
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  project/Dependencies.scala
Labels: dependencies

#515 Update Scala 2.13 to 2.13.3
  command-runner/src/main/scala/stryker4s/command/Stryker4sMain.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantMatcher.scala
  core/src/main/scala/stryker4s/report/dashboard/DashboardConfigProvider.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/StatementTransformerTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/FileCollectorTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  project/Dependencies.scala
Labels: dependencies

#522 Add unused:explicits to scalacOptions blocklist
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: bug

#523 Update sbt-stryker4s to 0.9.0
  project/plugins.sbt
Labels: dependencies

#524 Add minimum supported version to sbt plugin
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/build.sbt
  sbt/src/sbt-test/sbt-stryker4s/test-1/project/build.properties
  sbt/src/sbt-test/sbt-stryker4s/test-1/stryker4s.conf
Labels: enhancement

#525 Update stryker4s-maven-plugin to 0.9.0
  maven/pom.xml
Labels: dependencies
