Repository stryker-mutator/stryker4s, pull requests merged in 2020-09, with the labels that each got.

#562 Update sbt-stryker4s to 0.9.2
  project/plugins.sbt
Labels: dependencies

#563 Update stryker4s-maven-plugin to 0.9.2
  maven/pom.xml
Labels: dependencies

#564 Update async-http-client-backend-cats, ... to 2.2.7
  project/Dependencies.scala
Labels: dependencies

#492 Sbt process testrunner
  .github/workflows/ci.yml
  .gitignore
  README.md
  api/src/main/scala/stryker4s/api/testprocess/TestProcessContext.scala
  api/src/main/scala/stryker4s/api/testprocess/api.scala
  build.sbt
  command-runner/src/main/scala/stryker4s/command/Stryker4sCommandRunner.scala
  command-runner/src/main/scala/stryker4s/command/Stryker4sMain.scala
  command-runner/src/main/scala/stryker4s/command/runner/ProcessMutantRunner.scala
  command-runner/src/test/scala/stryker4s/run/ProcessMutantRunnerTest.scala
  core/src/main/scala/stryker4s/Stryker4s.scala
  core/src/main/scala/stryker4s/extension/CatsEffectExtensions.scala
  core/src/main/scala/stryker4s/extension/FileExtensions.scala
  core/src/main/scala/stryker4s/extension/ResourceExtensions.scala
  core/src/main/scala/stryker4s/extension/exception/stryker4sException.scala
  core/src/main/scala/stryker4s/model/MutantRunResult.scala
  core/src/main/scala/stryker4s/model/TestRunnerContext.scala
  core/src/main/scala/stryker4s/mutants/findmutants/FileCollector.scala
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/extension/CatsEffectExtensionsTest.scala
  core/src/test/scala/stryker4s/extension/ResourceExtensionsTest.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMain.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMavenRunner.scala
  maven/src/main/scala/stryker4s/maven/runner/MavenMutantRunner.scala
  maven/src/main/scala/stryker4s/model/MavenRunnerContext.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenMutantRunnerTest.scala
  maven/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  project/Dependencies.scala
  project/Settings.scala
  project/plugins.sbt
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/Context.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/MessageHandler.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/SbtTestRunnerMain.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/TestInterfaceMapper.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/TestRunner.scala
  sbt/src/main/scala/stryker4s/model/SbtRunnerContext.scala
  sbt/src/main/scala/stryker4s/model/TestInterfaceMapper.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/TestRunnerConnection.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/test
Labels: enhancement

#566 Run CI on JDK 14
  .github/workflows/ci.yml
Labels: chore

#567 Update async-http-client-backend-cats, ... to 2.2.8
  project/Dependencies.scala
Labels: dependencies

#568 Update cats-effect to 2.2.0
  core/src/main/scala/stryker4s/extension/CatsEffectExtensions.scala
  core/src/main/scala/stryker4s/extension/ResourceExtensions.scala
  core/src/main/scala/stryker4s/report/AggregateReporter.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  project/Dependencies.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
Labels: dependencies

#569 Mergify: configuration update
  .github/.mergify.yml
Labels: chore

#570 Update scalafmt-core to 2.7.0
  .scalafmt.conf
  bin/scalafmt
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/extension/ResourceExtensions.scala
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/main/scala/stryker4s/mutants/applymutants/MatchBuilder.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  project/GitHooks.scala
  sbt/src/main/scala/stryker4s/model/TestInterfaceMapper.scala
  sbt/src/main/scala/stryker4s/sbt/runner/TestRunnerConnection.scala
Labels: dependencies

#571 Update scalameta to 4.3.22
  project/Dependencies.scala
Labels: dependencies

#572 Update/stryker4s 0.10.0-RC1
  .github/workflows/mutation-testing.yml
  .gitignore
  maven/stryker4s.conf
  project/plugins.sbt
Labels: dependencies

#573 Add timeout runner (sbt testrunner only)
  command-runner/src/main/scala/stryker4s/command/Stryker4sCommandRunner.scala
  command-runner/src/main/scala/stryker4s/command/runner/ProcessMutantRunner.scala
  command-runner/src/test/scala/stryker4s/config/ProcessConfigReaderTest.scala
  command-runner/src/test/scala/stryker4s/run/ProcessMutantRunnerTest.scala
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/extension/DurationExtensions.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/main/scala/stryker4s/report/MutationRunReporter.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/extension/CatsEffectExtensionsTest.scala
  core/src/test/scala/stryker4s/extension/DurationExtensionsTest.scala
  core/src/test/scala/stryker4s/extension/ResourceExtensionsTest.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/extension/mutationtype/MethodExpressionTest.scala
  core/src/test/scala/stryker4s/extension/mutationtype/MutationTypesTest.scala
  core/src/test/scala/stryker4s/mutants/MutatorTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/StatementTransformerTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/FileCollectorTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
  core/src/test/scala/stryker4s/report/ReporterTest.scala
  core/src/test/scala/stryker4s/report/dashboard/DashboardConfigProviderTest.scala
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  core/src/test/scala/stryker4s/scalatest/LogMatchers.scala
  core/src/test/scala/stryker4s/testutil/ExampleConfigs.scala
  core/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  core/src/test/scala/stryker4s/testutil/TestAppender.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestProcessRunner.scala
  docs/CONFIGURATION.md
  maven/src/main/scala/stryker4s/maven/Stryker4sMain.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMavenRunner.scala
  maven/src/main/scala/stryker4s/maven/runner/MavenMutantRunner.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenMutantRunnerTest.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtTestRunner.scala
Labels: enhancement

#575 Update scalafmt-core to 2.7.1
  .scalafmt.conf
  core/src/main/scala/stryker4s/run/TestRunner.scala
Labels: dependencies

#576 Fix topStatement for argument Assign terms
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
Labels: bug

#577 Update scalafmt-core to 2.7.2
  .scalafmt.conf
Labels: dependencies

#578 Config option for legacy sbt test runner
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/testutil/ExampleConfigs.scala
  docs/CONFIGURATION.md
  sbt/src/main/scala/stryker4s/sbt/runner/LegacySbtTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: enhancement

#579 Update pureconfig, pureconfig-sttp to 0.14.0
  project/Dependencies.scala
Labels: dependencies

#580 Update async-http-client-backend-cats, ... to 2.2.9
  project/Dependencies.scala
Labels: dependencies

#581 Cleanup selfRecreatingResource to use Ref
  core/src/main/scala/stryker4s/extension/ResourceExtensions.scala
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/test/scala/stryker4s/extension/ResourceExtensionsTest.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtTestRunner.scala
Labels: chore

#582 Add maxTestRunnerReuse config option
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/testutil/ExampleConfigs.scala
  docs/CONFIGURATION.md
  sbt/src/main/scala/stryker4s/sbt/runner/SbtTestRunner.scala
Labels: enhancement

#583 Improve humanReadable duration to use 'and' at the end
  core/src/main/scala/stryker4s/extension/DurationExtensions.scala
  core/src/test/scala/stryker4s/extension/DurationExtensionsTest.scala
Labels: chore

#584 Update mockito-scala-scalatest to 1.15.1
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#588 Only set timeout if initial-test-run is succesful
  core/src/main/scala/stryker4s/run/TestRunner.scala
Labels: bug

#589 Fix mutations in `case` statements not always being added
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/main/scala/stryker4s/extension/mutationtype/StringLiteral.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantMatcher.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/mutants/AddAllMutationsTest.scala
  core/src/test/scala/stryker4s/mutants/MutatorTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
Labels: bug

#590 Fix some mutations in if-statements not being applied
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/mutants/AddAllMutationsTest.scala
Labels: bug

#591 Update mockito-scala-scalatest to 1.16.0
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#595 Update scalafmt-core to 2.7.3
  .scalafmt.conf
Labels: dependencies
