Repository stryker-mutator/stryker4s, pull requests merged in 2021-01, with the labels that each got.

#682 Update mockito-scala-cats, ... to 1.16.12
  project/Dependencies.scala
Labels: dependencies

#684 Refactor MutantRunner to separate TestRunner
  command-runner/src/main/scala/stryker4s/command/Stryker4sCommandRunner.scala
  command-runner/src/main/scala/stryker4s/command/runner/ProcessMutantRunner.scala
  command-runner/src/main/scala/stryker4s/command/runner/ProcessTestRunner.scala
  command-runner/src/main/scala/stryker4s/model/CommandRunnerContext.scala
  command-runner/src/test/scala/stryker4s/run/ProcessMutantRunnerTest.scala
  command-runner/src/test/scala/stryker4s/run/ProcessTestRunnerTest.scala
  core/src/main/scala/stryker4s/config/TestFilter.scala
  core/src/main/scala/stryker4s/model/TestRunnerContext.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/run/MutantRunnerTest.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestRunnerStub.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMain.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMavenRunner.scala
  maven/src/main/scala/stryker4s/maven/runner/MavenMutantRunner.scala
  maven/src/main/scala/stryker4s/maven/runner/MavenTestRunner.scala
  maven/src/main/scala/stryker4s/model/MavenRunnerContext.scala
  maven/src/test/scala/stryker4s/maven/Stryker4sMavenRunnerTest.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenMutantRunnerTest.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenTestRunnerTest.scala
  sbt/src/main/scala/stryker4s/model/SbtRunnerContext.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtMutantRunner.scala
Labels: chore

#685 Add support for timeout based on initial test in command-runner
  command-runner/src/main/scala/stryker4s/command/Stryker4sCommandRunner.scala
  command-runner/src/main/scala/stryker4s/command/runner/ProcessTestRunner.scala
  command-runner/src/test/scala/stryker4s/run/ProcessTestRunnerTest.scala
  core/src/main/scala/stryker4s/run/process/ProcessResource.scala
  core/src/main/scala/stryker4s/run/process/ProcessRunner.scala
  core/src/main/scala/stryker4s/run/process/UnixProcessRunner.scala
  core/src/main/scala/stryker4s/run/process/WindowsProcessRunner.scala
  core/src/test/scala/stryker4s/mutants/findmutants/FileCollectorTest.scala
  core/src/test/scala/stryker4s/run/process/ProcessRunnerTest.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestProcessRunner.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestRunnerStub.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
Labels: enhancement

#686 Fix NumberFormatException for command-runner
  command-runner/src/main/scala/stryker4s/command/runner/ProcessTestRunner.scala
  core/src/main/scala/stryker4s/run/process/ProcessRunner.scala
  core/src/main/scala/stryker4s/run/process/WindowsProcessRunner.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestProcessRunner.scala
Labels: bug

#688 Update sbt-stryker4s to 0.10.1
  project/plugins.sbt
Labels: dependencies

#689 Update mockito-scala-cats, ... to 1.16.13
  project/Dependencies.scala
Labels: dependencies

#691 Update scalameta to 4.4.5
  project/Dependencies.scala
Labels: dependencies

#692 Update mockito-scala-cats, ... to 1.16.15
  project/Dependencies.scala
Labels: dependencies

#694 Update sttp to 3.0.0
  core/src/main/scala/stryker4s/config/DashboardOptions.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/dashboard/DashboardConfigProviderTest.scala
  project/Dependencies.scala
  project/Settings.scala
Labels: dependencies

#695 Update Scala 2.12 to 2.12.13
  project/Dependencies.scala
Labels: dependencies

#697 Update scalameta to 4.4.6
  project/Dependencies.scala
Labels: dependencies

#696 Replace sttp async-http-client backend with httpclient (Java 11+)
  .github/workflows/ci.yml
  core/src/main/scala/stryker4s/report/AggregateReporter.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/test/scala/stryker4s/report/AggregateReporterTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  docs/configuration.md
  project/Dependencies.scala
  project/Settings.scala
Labels: chore

#698 Update scalameta to 4.4.7
  project/Dependencies.scala
Labels: dependencies

#700 Refactor logger to simplify interface
  build.sbt
  command-runner/src/main/scala/stryker4s/log/Slf4jLogger.scala
  core/src/main/scala/stryker4s/log/Level.scala
  core/src/main/scala/stryker4s/log/Logger.scala
  core/src/test/scala/stryker4s/scalatest/LogMatchers.scala
  core/src/test/scala/stryker4s/testutil/LogLevel.scala
  core/src/test/scala/stryker4s/testutil/TestLogger.scala
  maven/src/main/scala/stryker4s/log/MavenMojoLogger.scala
  maven/src/test/scala/stryker4s/testutil/NoopLogger.scala
  sbt/src/main/scala/stryker4s/log/SbtLogger.scala
Labels: chore

#699 Mutate regular expressions using weapon-regex
  core/src/main/scala/stryker4s/extension/PartialFunctionOps.scala
  core/src/main/scala/stryker4s/extension/mutationtype/MutationTypes.scala
  core/src/main/scala/stryker4s/extension/mutationtype/RegexMutator.scala
  core/src/main/scala/stryker4s/model/IgnoredMutationReason.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantFinder.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantMatcher.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/extension/PartialFunctionOpsTest.scala
  core/src/test/scala/stryker4s/mutants/AddAllMutationsTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
  project/Dependencies.scala
  project/Settings.scala
Labels: enhancement

#701 Update model:core to 1.2.1
  project/Dependencies.scala
Labels: dependencies

#702 Update sbt-dotty to 0.5.2
  project/plugins.sbt
Labels: dependencies

#703 Update model:core to 1.2.2
  project/Dependencies.scala
Labels: dependencies

#704 Fix pattern interpolation matching on string mutations
  core/src/main/scala/stryker4s/extension/mutationtype/StringLiteral.scala
  core/src/test/scala/stryker4s/extension/mutationtype/MutationTypesTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
Labels: bug

#705 Update circe to 3.1.0
  project/Dependencies.scala
Labels: dependencies

#706 Update model:core to 1.3.1
  project/Dependencies.scala
Labels: dependencies

#707 Update cats-effect-testing-scalatest to 0.5.1
  project/Dependencies.scala
Labels: dependencies

#708 Update sbt to 1.4.7
  project/build.properties
Labels: dependencies
