Repository stryker-mutator/stryker4s, pull requests merged in 2021-09, with the labels that each got.

#954 Update scala3-library to 3.0.2
  project/Dependencies.scala
Labels: dependencies

#956 Update circe, httpclient-backend-fs2 to 3.3.14
  project/Dependencies.scala
Labels: dependencies

#957 Update stryker4s-maven-plugin to 0.13.1
  maven/pom.xml
Labels: dependencies

#958 Update scalafmt-core to 3.0.2
  .scalafmt.conf
Labels: dependencies

#959 Update cats-effect to 3.2.7
  project/Dependencies.scala
Labels: dependencies

#960 Update cats-effect to 3.2.8
  project/Dependencies.scala
Labels: dependencies

#962 Update scalafmt-core to 3.0.3
  .scalafmt.conf
Labels: dependencies

#963 Update fs2-core, fs2-io to 3.1.2
  project/Dependencies.scala
Labels: dependencies

#965 Update scala-library to 2.12.15
  maven/pom.xml
  project/Dependencies.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/build.sbt
Labels: dependencies

#966 Update scalameta to 4.4.28
  project/Dependencies.scala
Labels: dependencies

#967 Use Java Temurin instead of deprecated Adopt in CI
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
  docs/contributing.md
Labels: chore

#968 Update mockito-scala-cats, ... to 1.16.42
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#970 Update scalafmt-core to 3.0.4
  .scalafmt.conf
Labels: dependencies

#971 Update scalatest to 3.2.10
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#972 Update cats-effect to 3.2.9
  project/Dependencies.scala
Labels: dependencies

#969 Use protobuf for serialization between test worker and main process
  api/src/main/protobuf/stryker4s/api/testprocess.proto
  api/src/main/scala-2.13+/stryker4s/ScalaVersionCompat.scala
  api/src/main/scala-2.13-/stryker4s/ScalaVersionCompat.scala
  api/src/main/scala/stryker4s/ScalaVersionCompatOps.scala
  api/src/main/scala/stryker4s/api/testprocess/TestProcessContext.scala
  api/src/main/scala/stryker4s/api/testprocess/api.scala
  api/src/main/scala/stryker4s/api/testprocess/package.scala
  project/Dependencies.scala
  project/Settings.scala
  project/plugins.sbt
  sbt-testrunner/src/main/scala/stryker4s/package.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/MessageHandler.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/SbtTestRunnerMain.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/TestInterfaceMapper.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/TestRunner.scala
  sbt/src/main/scala/stryker4s/model/TestInterfaceMapper.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/TestRunnerConnection.scala
Labels: enhancement

#973 Update sbt-ci-release to 1.5.9
  project/plugins.sbt
Labels: dependencies

#974 Update fs2-core, fs2-io to 3.1.3
  project/Dependencies.scala
Labels: dependencies

#975 Add debug configuration options
  command-runner/src/main/scala/stryker4s/command/runner/ProcessTestRunner.scala
  command-runner/src/test/scala/stryker4s/run/ProcessTestRunnerTest.scala
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/DebugOptions.scala
  core/src/main/scala/stryker4s/config/circe/ConfigEncoder.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/main/scala/stryker4s/run/process/ProcessResource.scala
  core/src/main/scala/stryker4s/run/process/ProcessRunner.scala
  core/src/main/scala/stryker4s/run/process/WindowsProcessRunner.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/config/circe/ConfigEncoderTest.scala
  core/src/test/scala/stryker4s/testutil/ExampleConfigs.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestProcessRunner.scala
  docs/configuration.md
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
Labels: enhancement
