Repository stryker-mutator/stryker4s, pull requests merged in 2021-11, with the labels that each got.

#1004 Fix per-test coverage analysis
  api/src/main/protobuf/stryker4s/api/testprocess.proto
  api/src/main/scala/stryker4s/api/testprocess/CoverageReport.scala
  command-runner/src/main/scala/stryker4s/command/runner/ProcessTestRunner.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/test/scala/stryker4s/run/TestRunnerTest.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestRunnerStub.scala
  maven/src/main/scala/stryker4s/maven/runner/MavenTestRunner.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenTestRunnerTest.scala
  sbt-testrunner/src/main/scala/stryker4s/package.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/MessageHandler.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/TestInterfaceMapper.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/TestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/LegacySbtTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
Labels: bug

#1005 Fill `testsCompleted` in the report
  api/src/main/protobuf/stryker4s/api/testprocess.proto
  core/src/main/scala/stryker4s/model/MutantRunResult.scala
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/MessageHandler.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/TestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
Labels: enhancement

#1006 Update sbt-stryker4s to 0.14.1
  project/plugins.sbt
Labels: dependencies

#1007 Update scala-library to 2.13.7
  project/Dependencies.scala
Labels: dependencies

#1009 Update scalameta to 4.4.30
  project/Dependencies.scala
Labels: dependencies

#1010 Update sbt-projectmatrix to 0.9.0
  project/plugins.sbt
Labels: dependencies

#1011 Update scalafmt-core to 3.1.0
  .scalafmt.conf
Labels: dependencies

#1012 Update scalafmt-core to 3.1.1
  .scalafmt.conf
Labels: dependencies

#1014 Update mutation-testing-elements, ... to 1.7.6
  project/Dependencies.scala
Labels: dependencies

#1015 Update circe, httpclient-backend-fs2 to 3.3.17
  project/Dependencies.scala
Labels: dependencies

#1016 Update pureconfig, pureconfig-sttp to 0.17.1
  project/Dependencies.scala
Labels: dependencies

#1017 Update scalafmt-core to 3.1.2
  .scalafmt.conf
Labels: dependencies

#1018 Update cats-core to 2.7.0
  project/Dependencies.scala
Labels: dependencies

#1019 Update cats-effect to 3.3.0
  project/Dependencies.scala
Labels: dependencies

#1021 Update scalafmt-core to 3.2.0
  .scalafmt.conf
Labels: dependencies

#1022 Update cats-effect-testing-scalatest to 1.4.0
  project/Dependencies.scala
Labels: dependencies
