Repository stryker-mutator/stryker4s, pull requests merged in 2021-04, with the labels that each got.

#789 Update scalatest to 3.2.7
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#790 Update scalameta to 4.4.11
  project/Dependencies.scala
Labels: dependencies

#791 Update circe, httpclient-backend-fs2 to 3.2.3
  project/Dependencies.scala
Labels: dependencies

#793 Update sbt to 1.5.0
  .devcontainer/Dockerfile
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/release.yml
  build.sbt
  docs/configuration.md
  maven/README.MD
  project/Settings.scala
  project/build.properties
  project/plugins.sbt
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/LegacySbtTestRunner.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/test
Labels: dependencies

#795 Update mockito-scala-cats, ... to 1.16.37
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#792 Update to cats-effect, fs2 3
  command-runner/src/main/scala/stryker4s/command/Stryker4sCommandRunner.scala
  command-runner/src/main/scala/stryker4s/command/runner/ProcessTestRunner.scala
  command-runner/src/test/scala/stryker4s/run/ProcessTestRunnerTest.scala
  core/src/main/scala/stryker4s/extension/CatsEffectExtensions.scala
  core/src/main/scala/stryker4s/extension/ResourceExtensions.scala
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/report/AggregateReporter.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/main/scala/stryker4s/run/process/ProcessRunner.scala
  core/src/main/scala/stryker4s/run/process/UnixProcessRunner.scala
  core/src/main/scala/stryker4s/run/process/WindowsProcessRunner.scala
  core/src/test/scala/stryker4s/extension/CatsEffectExtensionsTest.scala
  core/src/test/scala/stryker4s/extension/ResourceExtensionsTest.scala
  core/src/test/scala/stryker4s/report/AggregateReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestProcessRunner.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMain.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMavenRunner.scala
  maven/src/test/scala/stryker4s/maven/Stryker4sMavenRunnerTest.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenTestRunnerTest.scala
  maven/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  project/Dependencies.scala
  project/Settings.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/TestRunnerConnection.scala
Labels: chore

#779 Remove JDK 14 from CI and add JDK 16
  .github/workflows/ci.yml
Labels: chore

#797 Update scalameta to 4.4.12
  project/Dependencies.scala
Labels: dependencies

#798 Update sbt-stryker4s to 0.11.3
  project/plugins.sbt
Labels: dependencies

#799 Update scalameta to 4.4.13
  project/Dependencies.scala
Labels: dependencies

#800 Update cats-effect to 3.0.2
  project/Dependencies.scala
Labels: dependencies

#802 Update circe, httpclient-backend-fs2 to 3.3.0-RC2
  project/Dependencies.scala
Labels: dependencies

#807 Update Scala 3 to 3.0.0-RC3
  project/Dependencies.scala
Labels: dependencies

#806 Update circe, httpclient-backend-fs2 to 3.3.0-RC4
  project/Dependencies.scala
Labels: dependencies

#805 Update cats-core to 2.6.0
  project/Dependencies.scala
Labels: dependencies

#804 Update pureconfig, pureconfig-sttp to 0.15.0
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  project/Dependencies.scala
Labels: dependencies

#809 Update cats-effect to 3.1.0
  project/Dependencies.scala
Labels: dependencies

#808 Update scalatest to 3.2.8
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#810 Update scalameta to 4.4.14
  project/Dependencies.scala
Labels: dependencies

#811 Update fs2-core, fs2-io to 3.0.2
  project/Dependencies.scala
Labels: dependencies

#813 Update weapon-regex to 0.4.2
  project/Dependencies.scala
Labels: dependencies

#812 Update circe, httpclient-backend-fs2 to 3.3.0-RC5
  project/Dependencies.scala
Labels: dependencies

#814 Only add fatal-warnings compiler option in CI
  project/Settings.scala
Labels: chore

#815 Update cats-effect-testing-scalatest to 1.1.0
  project/Dependencies.scala
Labels: dependencies

#817 Update scalameta to 4.4.15
  project/Dependencies.scala
Labels: dependencies

#816 Update sbt to 1.5.1
  project/build.properties
Labels: dependencies

#772 Concurrency for sbt plugin
  command-runner/src/main/scala/stryker4s/command/Stryker4sCommandRunner.scala
  command-runner/src/main/scala/stryker4s/command/Stryker4sMain.scala
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/ResourcePool.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/main/scala/stryker4s/run/package.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/extension/ResourceExtensionsTest.scala
  core/src/test/scala/stryker4s/run/ResourcePoolTest.scala
  core/src/test/scala/stryker4s/testutil/ExampleConfigs.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestRunnerStub.scala
  docs/configuration.md
  maven/src/main/scala/stryker4s/maven/Stryker4sMavenRunner.scala
  maven/src/main/scala/stryker4s/maven/runner/MavenTestRunner.scala
  maven/src/test/scala/stryker4s/maven/Stryker4sMavenRunnerTest.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/Context.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/SbtTestRunnerMain.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/TestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtTestRunner.scala
Labels: enhancement

#819 Update circe, httpclient-backend-fs2 to 3.3.0
  project/Dependencies.scala
Labels: dependencies

#820 Log duration in milliseconds precision
  core/src/main/scala/stryker4s/extension/DurationExtensions.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/test/scala/stryker4s/extension/DurationExtensionsTest.scala
Labels: chore
