Repository stryker-mutator/stryker4s, pull requests merged in 2021-05, with the labels that each got.

#821 Update sbt-projectmatrix to 0.8.0
  project/plugins.sbt
Labels: dependencies

#824 Update mutation-testing-elements, ... to 1.7.2
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  project/Dependencies.scala
Labels: dependencies

#825 Reporter Stream rework
  core/src/main/scala/stryker4s/report/AggregateReporter.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/main/scala/stryker4s/report/MutationRunReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/main/scala/stryker4s/report/package.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/report/AggregateReporterTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/run/MutantRunnerTest.scala
  core/src/test/scala/stryker4s/run/ResourcePoolTest.scala
  core/src/test/scala/stryker4s/testutil/TestData.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
Labels: chore

#826 Update circe, httpclient-backend-fs2 to 3.3.1
  project/Dependencies.scala
Labels: dependencies

#827 Update scalameta to 4.4.16
  project/Dependencies.scala
Labels: dependencies

#828 Update weapon-regex to 0.5.1
  project/Dependencies.scala
Labels: dependencies

#829 Update sbt to 1.5.2
  project/build.properties
Labels: dependencies

#838 Update scalameta to 4.4.17
  project/Dependencies.scala
Labels: dependencies

#839 Update circe, httpclient-backend-fs2 to 3.3.2
  project/Dependencies.scala
Labels: dependencies

#837 Update Scala 3 RC-3 to 3.0.0
  project/Dependencies.scala
Labels: dependencies

#840 Only run release after other CI tasks succeed
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: chore

#841 Replace setup-scala with setup-java
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
Labels: chore

#843 Update cats-effect to 3.1.1
  project/Dependencies.scala
Labels: dependencies

#842 Update cats-core to 2.6.1
  project/Dependencies.scala
Labels: dependencies

#844 Add Windows to CI tests target
  .github/workflows/ci.yml
  core/src/test/scala/stryker4s/config/circe/ConfigEncoderTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
Labels: chore

#846 Update fs2-core, fs2-io to 3.0.3
  project/Dependencies.scala
Labels: dependencies

#847 Fix some if-statements with blocks not mutating
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/mutants/AddAllMutationsTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
Labels: bug

#849 Fix test-filter on new sbt testrunner
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/src/test/scala/example/IgnoreMeTest.scala
Labels: bug

#851 Update scalatest to 3.2.9
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#852 Update circe, httpclient-backend-fs2 to 3.3.3
  project/Dependencies.scala
Labels: dependencies

#853 Edit default concurrency algorithm to be more conservative
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/test/scala/stryker4s/config/ConfigTest.scala
  docs/configuration.md
Labels: enhancement

#854 Fix timeout using both initial test run times together
  command-runner/src/main/scala/stryker4s/command/runner/ProcessTestRunner.scala
  command-runner/src/test/scala/stryker4s/run/ProcessTestRunnerTest.scala
  core/src/main/scala/stryker4s/model/InitialTestRunCoverageReport.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/main/scala/stryker4s/run/package.scala
  core/src/test/scala/stryker4s/run/TestRunnerTest.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestRunnerStub.scala
  maven/src/main/scala/stryker4s/maven/runner/MavenTestRunner.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenTestRunnerTest.scala
  sbt/src/main/scala/stryker4s/sbt/runner/LegacySbtTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
Labels: bug

#856 Fix Timeout not working on new sbt testrunner
  core/src/test/scala/stryker4s/run/TestRunnerTest.scala
  sbt/src/main/scala/stryker4s/sbt/runner/TestRunnerConnection.scala
Labels: bug

#857 Sort mutation run results in report
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/run/MutantRunnerTest.scala
Labels: enhancement

#858 Add clue to tree assertions
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/extension/mutationtype/MutationTypesTest.scala
  core/src/test/scala/stryker4s/mutants/MutatorTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/StatementTransformerTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
Labels: chore, skip-changelog

#859 Fix some case statements not mutating
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/mutants/AddAllMutationsTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/MatchBuilderTest.scala
Labels: bug

#860 Update scala-library to 2.13.6
  project/Dependencies.scala
Labels: dependencies

#861 Update sbt-stryker4s to 0.12.0
  project/plugins.sbt
Labels: dependencies

#862 Update scalameta to 4.4.18
  project/Dependencies.scala
Labels: dependencies

#864 Update circe, httpclient-backend-fs2 to 3.3.4
  project/Dependencies.scala
Labels: dependencies

#866 Fix coverage analysis sometimes being placed incorrectly
  core/src/main/scala/stryker4s/mutants/applymutants/CoverageMatchBuilder.scala
  core/src/test/scala/stryker4s/mutants/applymutants/CoverageMatchBuilderTest.scala
  sbt-testrunner/src/main/scala/stryker4s/package.scala
Labels: bug

#867 Update sbt-stryker4s to 0.12.1
  project/plugins.sbt
Labels: dependencies

#868 Update fs2-core, fs2-io to 3.0.4
  project/Dependencies.scala
Labels: dependencies

#869 Update to scalafmt 3
  .scalafmt.conf
  command-runner/src/main/scala/stryker4s/command/Stryker4sArgumentHandler.scala
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/config/pure/ConfigConfigReader.scala
  core/src/main/scala/stryker4s/extension/DurationExtensions.scala
  core/src/main/scala/stryker4s/extension/FileExtensions.scala
  core/src/main/scala/stryker4s/extension/ImplicitMutationConversion.scala
  core/src/main/scala/stryker4s/extension/PartialFunctionOps.scala
  core/src/main/scala/stryker4s/extension/ResourceExtensions.scala
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/main/scala/stryker4s/extension/mutationtype/MutationTypes.scala
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/mutants/applymutants/CoverageMatchBuilder.scala
  core/src/main/scala/stryker4s/mutants/findmutants/FileCollector.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantMatcher.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/run/ResourcePool.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/test/resources/scalaFiles/scala3File.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/mutants/AddAllMutationsTest.scala
  core/src/test/scala/stryker4s/mutants/applymutants/StatementTransformerTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  core/src/test/scala/stryker4s/scalatest/LogMatchers.scala
  core/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestProcessRunner.scala
  project/GitHooks.scala
  project/Settings.scala
  sbt-testrunner/src/main/scala/stryker4s/package.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/SbtTestRunnerMain.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/TestRunnerConnection.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/project/plugins.sbt
Labels: dependencies

#871 Update weapon-regex to 0.5.2
  project/Dependencies.scala
Labels: dependencies

#870 Update sbt-tpolecat to 0.1.18
  project/plugins.sbt
Labels: dependencies

#872 Update cats-effect-testing-scalatest to 1.1.1
  project/Dependencies.scala
Labels: dependencies

#875 Update circe, httpclient-backend-fs2 to 3.3.5
  project/Dependencies.scala
Labels: dependencies

#876 Update circe-core to 0.14.0
  project/Dependencies.scala
Labels: dependencies

#877 Update circe-core to 0.14.1
  project/Dependencies.scala
Labels: dependencies

#880 Update scala-library to 2.12.14
  maven/pom.xml
  project/Dependencies.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/build.sbt
Labels: dependencies

#881 Update scalameta to 4.4.19
  project/Dependencies.scala
Labels: dependencies

#882 Update scalameta to 4.4.20
  project/Dependencies.scala
Labels: dependencies

#883 Update scalafmt-core to 3.0.0-RC4
  .scalafmt.conf
Labels: dependencies
