Repository stryker-mutator/stryker4s, pull requests merged in 2021-10, with the labels that each got.

#978 Use `sbt --client` and fix mutation-testing workflow
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
Labels: chore, skip-changelog

#980 Update circe to 3.3.15
  project/Dependencies.scala
Labels: dependencies

#982 Update scalafmt-core to 3.0.6
  .scalafmt.conf
Labels: dependencies

#983 Update pureconfig, pureconfig-sttp to 0.17.0
  project/Dependencies.scala
Labels: dependencies

#981 Documentation fixes
  docs/configuration.md
  docs/contributing.md
Labels: docs

#984 Update fs2-core, fs2-io to 3.1.4
  project/Dependencies.scala
Labels: dependencies

#1002 Setup libraryDependencySchemes for stryker4s dependencies
  project/Settings.scala
Labels: chore

#1003 Update scalafmt-core to 3.0.8
  .scalafmt.conf
  core/src/main/scala/stryker4s/mutants/Mutator.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/test/resources/rollbackTest/TestObj1.scala
  core/src/test/resources/rollbackTest/TestObj2.scala
  core/src/test/scala/stryker4s/mutants/RollbackTest.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/src/main/scala/example/TestObj1.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/src/main/scala/example/TestObj2.scala
Labels: dependencies
