Repository stryker-mutator/stryker4s, pull requests merged in 2021-08, with the labels that each got.

#920 Update cats-effect-testing-scalatest to 1.2.0
  project/Dependencies.scala
Labels: dependencies

#921 Update mutation-testing-metrics-circe to 1.7.5
  project/Dependencies.scala
Labels: dependencies

#922 Update scalameta to 4.4.26
  project/Dependencies.scala
Labels: dependencies

#923 Fix [SomeClass] is already defined as [SomeClass]
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/build.sbt
Labels: bug

#924 Update cats-effect to 3.2.2
  project/Dependencies.scala
Labels: dependencies

#925 Update fs2-core, fs2-io to 3.1.0
  command-runner/src/main/scala/stryker4s/command/Stryker4sCommandRunner.scala
  command-runner/src/main/scala/stryker4s/command/runner/ProcessTestRunner.scala
  command-runner/src/test/scala/stryker4s/run/ProcessTestRunnerTest.scala
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/config/circe/ConfigEncoder.scala
  core/src/main/scala/stryker4s/config/pure/ConfigConfigReader.scala
  core/src/main/scala/stryker4s/extension/FileExtensions.scala
  core/src/main/scala/stryker4s/files/fileIO.scala
  core/src/main/scala/stryker4s/model/MutatedFile.scala
  core/src/main/scala/stryker4s/mutants/Mutator.scala
  core/src/main/scala/stryker4s/mutants/findmutants/FileCollector.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantFinder.scala
  core/src/main/scala/stryker4s/report/HtmlReporter.scala
  core/src/main/scala/stryker4s/report/JsonReporter.scala
  core/src/main/scala/stryker4s/report/Reporter.scala
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/main/scala/stryker4s/run/process/ProcessRunner.scala
  core/src/main/scala/stryker4s/run/process/WindowsProcessRunner.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/config/circe/ConfigEncoderTest.scala
  core/src/test/scala/stryker4s/extension/FileExtensionsTest.scala
  core/src/test/scala/stryker4s/mutants/MutatorTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/FileCollectorTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  core/src/test/scala/stryker4s/report/JsonReporterTest.scala
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  core/src/test/scala/stryker4s/scalatest/FileUtil.scala
  core/src/test/scala/stryker4s/testutil/TestData.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestProcessRunner.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestRunnerStub.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestSourceCollector.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMavenRunner.scala
  maven/src/test/scala/stryker4s/maven/Stryker4sMavenRunnerTest.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenTestRunnerTest.scala
  project/Dependencies.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
Labels: dependencies

#926 Update scalameta to 4.4.27
  project/Dependencies.scala
Labels: dependencies

#927 Always read base-dir config as absolute path
  core/src/main/scala/stryker4s/config/pure/ConfigConfigReader.scala
Labels: bug

#930 Add scalacOptions to maven build and optimize imports
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  maven/pom.xml
  maven/src/main/scala/stryker4s/maven/Stryker4sMain.scala
  maven/src/main/scala/stryker4s/maven/Stryker4sMavenRunner.scala
  maven/src/test/scala/stryker4s/maven/Stryker4sMavenRunnerTest.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenTestRunnerTest.scala
  maven/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
Labels: chore

#929 Refactor file reading
  core/src/main/scala/stryker4s/Stryker4s.scala
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/extension/StreamExtensions.scala
  core/src/main/scala/stryker4s/extension/exception/stryker4sException.scala
  core/src/main/scala/stryker4s/files/ConfigFilesResolver.scala
  core/src/main/scala/stryker4s/files/FileResolver.scala
  core/src/main/scala/stryker4s/files/Glob.scala
  core/src/main/scala/stryker4s/files/GlobFileResolver.scala
  core/src/main/scala/stryker4s/files/PathMatcher.scala
  core/src/main/scala/stryker4s/mutants/Mutator.scala
  core/src/main/scala/stryker4s/mutants/applymutants/MatchBuilder.scala
  core/src/main/scala/stryker4s/mutants/applymutants/StatementTransformer.scala
  core/src/main/scala/stryker4s/mutants/findmutants/FileCollector.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantFinder.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantMatcher.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/Stryker4sRunner.scala
  core/src/test/scala/stryker4s/Stryker4sTest.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/config/circe/ConfigEncoderTest.scala
  core/src/test/scala/stryker4s/files/ConfigFilesResolverTest.scala
  core/src/test/scala/stryker4s/files/GlobFileResolverTest.scala
  core/src/test/scala/stryker4s/files/GlobTest.scala
  core/src/test/scala/stryker4s/mutants/MutatorTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/FileCollectorTest.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  core/src/test/scala/stryker4s/run/MutantRunnerTest.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestFileResolver.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestRunnerStub.scala
  core/src/test/scala/stryker4s/testutil/stubs/TestSourceCollector.scala
  project/Dependencies.scala
  project/Settings.scala
  sbt/src/main/scala/stryker4s/files/SbtFilesResolver.scala
  sbt/src/main/scala/stryker4s/files/SbtMutatesResolver.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
Labels: enhancement

#931 Don't mutate xml literals
  core/src/main/scala/stryker4s/extension/mutationtype/StringLiteral.scala
  core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
Labels: bug

#932 Move some logging about test processes to debug
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/test/scala/stryker4s/run/TestRunnerTest.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
Labels: chore

#933 Update sbt-stryker4s to 0.13.0
  project/plugins.sbt
Labels: dependencies

#935 Fix crash on Java <11 at end of mutation run
  core/src/main/scala/stryker4s/report/mapper/MutantRunResultMapper.scala
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
Labels: bug

#936 Update sbt-stryker4s to 0.13.1
  project/plugins.sbt
Labels: dependencies

#940 Update scalafmt-core to 3.0.0-RC7
  .scalafmt.conf
  bin/scalafmt
Labels: dependencies

#942 Update cats-effect to 3.2.3
  project/Dependencies.scala
Labels: dependencies

#943 Update scalafmt-core to 3.0.0
  .scalafmt.conf
Labels: dependencies

#945 Update fs2-core, fs2-io to 3.1.1
  project/Dependencies.scala
Labels: dependencies

#950 Update cats-effect to 3.2.4
  project/Dependencies.scala
Labels: dependencies

#951 Update mockito-scala-cats, ... to 1.16.39
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#952 Update cats-effect to 3.2.5
  project/Dependencies.scala
Labels: dependencies

#953 Update cats-effect-testing-scalatest to 1.3.0
  project/Dependencies.scala
Labels: dependencies
