Repository stryker-mutator/stryker4s, pull requests merged in 2022-01, with the labels that each got.

#1051 Update cats-effect to 3.3.3
  project/Dependencies.scala
Labels: dependencies

#1052 Update scalafmt-core to 3.3.1
  .scalafmt.conf
Labels: dependencies

#1054 Optimize CoverageTestRunResult size
  sbt-testrunner/src/main/scala/stryker4s/package.scala
Labels: chore

#1053 Use more accurate initial test-run duration (sbt plugin)
  api/src/main/protobuf/stryker4s/api/testprocess.proto
  sbt-testrunner/src/main/scala/stryker4s/package.scala
  sbt-testrunner/src/main/scala/stryker4s/sbt/testrunner/MessageHandler.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
Labels: enhancement

#1055 Update sbt-stryker4s to 0.14.3
  project/plugins.sbt
Labels: dependencies

#1057 Update sbt-protoc to 1.0.6
  project/plugins.sbt
Labels: dependencies

#1058 Update compilerplugin, scalapb-runtime to 0.11.8
  project/plugins.sbt
Labels: dependencies

#1059 Update cats-effect to 3.3.4
  project/Dependencies.scala
Labels: dependencies

#1062 Add source3 scala-dialect and deprecate 2.11
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/config/pure/ConfigConfigReader.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
Labels: enhancement

#1061 Build maven-plugin on Scala 2.13
  .github/workflows/ci.yml
  build.sbt
  maven/pom.xml
  maven/src/main/scala/stryker4s/maven/Stryker4sMavenRunner.scala
  maven/src/main/scala/stryker4s/maven/runner/MavenTestRunner.scala
  maven/src/test/scala/stryker4s/maven/Stryker4sMavenRunnerTest.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenTestRunnerTest.scala
Labels: chore

#1063 Update scalameta to 4.4.32
  project/Dependencies.scala
Labels: dependencies

#1067 Update scala-library to 2.13.8
  project/Dependencies.scala
Labels: dependencies

#1068 Update slf4j-simple to 1.7.33
  project/Dependencies.scala
Labels: dependencies

#1069 Use fs2 socket implementations instead of old java.net
  core/src/main/scala/stryker4s/mutants/findmutants/MutantFinder.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/SbtTestRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/TestRunnerConnection.scala
Labels: chore

#1070 Add colors to console output
  command-runner/src/main/scala/stryker4s/command/Stryker4sMain.scala
  command-runner/src/main/scala/stryker4s/log/Slf4jLogger.scala
  core/src/main/scala/stryker4s/config/ConfigReader.scala
  core/src/main/scala/stryker4s/extension/exception/stryker4sException.scala
  core/src/main/scala/stryker4s/log/Logger.scala
  core/src/main/scala/stryker4s/mutants/Mutator.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantMatcher.scala
  core/src/main/scala/stryker4s/report/ConsoleReporter.scala
  core/src/main/scala/stryker4s/report/DashboardReporter.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/TestRunner.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/extension/exception/Stryker4sExceptionTest.scala
  core/src/test/scala/stryker4s/mutants/MutatorTest.scala
  core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/run/TestRunnerTest.scala
  core/src/test/scala/stryker4s/run/threshold/ThresholdCheckerTest.scala
  core/src/test/scala/stryker4s/scalatest/LogMatchers.scala
  core/src/test/scala/stryker4s/testutil/TestLogger.scala
  maven/src/main/scala/stryker4s/log/MavenMojoLogger.scala
  project/Dependencies.scala
  project/Settings.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/main/scala/stryker4s/sbt/runner/TestRunnerConnection.scala
Labels: enhancement

#1071 Use sbt's setting for if console color is enabled
  project/Settings.scala
  sbt/src/main/scala/stryker4s/log/SbtLogger.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sMain.scala
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  sbt/src/sbt-test/sbt-stryker4s/test-1/project/build.properties
Labels: enhancement

#1075 Update scalameta to 4.4.33
  project/Dependencies.scala
Labels: dependencies

#1074 Update mockito-scala-cats, ... to 1.16.55
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#1078 Update scalafmt-core to 3.3.2
  .scalafmt.conf
Labels: dependencies

#1079 Update circe, httpclient-backend-fs2 to 3.4.0
  project/Dependencies.scala
Labels: dependencies

#1080 Update scalafmt-core to 3.3.3
  .scalafmt.conf
Labels: dependencies

#1081 Update scalatest to 3.2.11
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#1083 Update slf4j-simple to 1.7.35
  project/Dependencies.scala
Labels: dependencies

#1082 Update circe, httpclient-backend-fs2 to 3.4.1
  project/Dependencies.scala
Labels: dependencies

#1084 Update Scala 3 to 3.1.1
  project/Dependencies.scala
Labels: dependencies

#1085 Update mutation-testing-elements, ... to 1.7.10
  project/Dependencies.scala
Labels: dependencies

#1086 Update scalafmt-core to 3.4.0
  .scalafmt.conf
Labels: dependencies

#1087 Update cats-effect to 3.3.5
  project/Dependencies.scala
Labels: dependencies
