Repository stryker-mutator/stryker4s, pull requests merged in 2022-10, with the labels that each got.

#1223 Use tpolecat sbt plugin options
  project/Settings.scala
Labels: skip-changelog

#1226 Update fs2-core, fs2-io to 3.3.0
  project/Dependencies.scala
Labels: dependencies

#1228 Update circe-core to 0.14.3
  project/Dependencies.scala
Labels: dependencies

#1227 Update circe, fs2 to 3.8.2
  project/Dependencies.scala
Labels: dependencies

#1229 Update scala-library to 2.13.10
  project/Dependencies.scala
Labels: dependencies

#1230 Update sbt to 1.7.2
  project/build.properties
Labels: dependencies

#1232 Update scalatest to 3.2.14
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#1234 minor typo in docs
  docs/configuration.md
Labels: docs

#1235 Update sbt-ci-release to 1.5.11
  project/plugins.sbt
Labels: dependencies

#1236 Update circe, fs2 to 3.8.3
  project/Dependencies.scala
Labels: dependencies

#1237 Update scalafmt-core to 3.6.0
  .scalafmt.conf
Labels: dependencies

#1233 Update slf4j-simple to 2.0.3
  project/Dependencies.scala
Labels: dependencies
