Repository stryker-mutator/stryker4s, pull requests merged in 2023-09, with the labels that each got.

#1404 Update fs2-core, fs2-io to 3.9.1
  project/Dependencies.scala
Labels: dependencies

#1405 Update circe-core to 0.14.6
  project/Dependencies.scala
Labels: dependencies

#1406 Update mockito-scala-cats, ... to 1.17.22
  project/Dependencies.scala
Labels: dependencies

#1407 Update scala3-library to 3.3.1
  project/Dependencies.scala
Labels: dependencies

#1408 Update scalafmt-core to 3.7.14
  .scalafmt.conf
Labels: dependencies

#1409 Update scalameta to 4.8.10
  project/Dependencies.scala
Labels: dependencies

#1411 Update slf4j-simple to 2.0.9
  project/Dependencies.scala
Labels: dependencies

#1413 Update fs2-core, fs2-io to 3.9.2
  project/Dependencies.scala
Labels: dependencies

#1416 [core] Use config Dialect to write Scala3 mutations
  core/src/main/scala/stryker4s/run/MutantRunner.scala
Labels: bug

#1419 Update sbt to 1.9.6
  project/build.properties
Labels: dependencies

#1421 Fix releases by disabling sbt-tpolecat release mode
  project/Settings.scala
Labels: chore

#1422 Update mockito-scala-cats, ... to 1.17.27
  maven/pom.xml
  project/Dependencies.scala
Labels: dependencies

#1423 Update scalameta to 4.8.11
  project/Dependencies.scala
Labels: dependencies

#1424 [sbt] Add warning in case of empty framework sequence
  sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
Labels: enhancement
