Repository stryker-mutator/stryker4s, pull requests merged in 2023-11, with the labels that each got.

#1440 Use cats option/either syntax
  core/src/main/scala/stryker4s/config/Config.scala
  core/src/main/scala/stryker4s/config/DashboardOptions.scala
  core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  core/src/main/scala/stryker4s/extension/mutationtype/ArgMethodExpression.scala
  core/src/main/scala/stryker4s/extension/mutationtype/ConditionalExpression.scala
  core/src/main/scala/stryker4s/extension/mutationtype/MutationTypes.scala
  core/src/main/scala/stryker4s/extension/mutationtype/NoArgMethodExpression.scala
  core/src/main/scala/stryker4s/files/ConfigFilesResolver.scala
  core/src/main/scala/stryker4s/model/InitialTestRunCoverageReport.scala
  core/src/main/scala/stryker4s/model/Mutant.scala
  core/src/main/scala/stryker4s/mutants/Mutator.scala
  core/src/main/scala/stryker4s/mutants/findmutants/MutantMatcher.scala
  core/src/main/scala/stryker4s/mutants/tree/InstrumenterOptions.scala
  core/src/main/scala/stryker4s/mutants/tree/MutantCollector.scala
  core/src/main/scala/stryker4s/mutants/tree/MutantInstrumenter.scala
  core/src/main/scala/stryker4s/report/AggregateReporter.scala
  core/src/main/scala/stryker4s/report/dashboard/DashboardConfigProvider.scala
  core/src/main/scala/stryker4s/run/MutantRunner.scala
  core/src/main/scala/stryker4s/run/ResourcePool.scala
  core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  core/src/test/scala/stryker4s/config/circe/ConfigEncoderTest.scala
  core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  core/src/test/scala/stryker4s/mutants/TreeTraverserTest.scala
  core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  core/src/test/scala/stryker4s/report/dashboard/DashboardConfigProviderTest.scala
  core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  core/src/test/scala/stryker4s/run/MutantRunnerTest.scala
  core/src/test/scala/stryker4s/testutil/TestData.scala
Labels: chore

#1441 Update fs2-core, fs2-io to 3.9.3
  project/Dependencies.scala
Labels: dependencies

#1442 Update mutation-testing-elements, ... to 2.0.5
  project/Dependencies.scala
Labels: dependencies

#1447 Update circe, fs2 to 3.9.1
  project/Dependencies.scala
Labels: dependencies

#1449 Add api and testkit projects
  .github/workflows/ci.yml
  build.sbt
  maven/pom.xml
  maven/src/main/scala/stryker4s/log/MavenMojoLogger.scala
  maven/src/test/scala/stryker4s/maven/Stryker4sMavenRunnerTest.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenTestRunnerTest.scala
  maven/src/test/scala/stryker4s/testutil/NoopLogger.scala
  maven/src/test/scala/stryker4s/testutil/Stryker4sSuite.scala
  modules/api/src/main/java/stryker4s/log/Level.java
  modules/api/src/main/java/stryker4s/log/Logger.java
  modules/commandRunner/src/main/scala/stryker4s/log/Slf4jLogger.scala
  modules/commandRunner/src/test/scala/stryker4s/config/ProcessConfigReaderTest.scala
  modules/commandRunner/src/test/scala/stryker4s/run/ProcessTestRunnerTest.scala
  modules/commandRunner/src/test/scala/stryker4s/testutil/stubs/TestProcessRunner.scala
  modules/core/src/main/scala/stryker4s/log/Level.scala
  modules/core/src/main/scala/stryker4s/log/Logger.scala
  modules/core/src/main/scala/stryker4s/log/SttpLogWrapper.scala
  modules/core/src/main/scala/stryker4s/log/package.scala
  modules/core/src/test/scala/stryker4s/mutants/TreeTraverserTest.scala
  modules/core/src/test/scala/stryker4s/testutil/ExampleConfigs.scala
  modules/sbt/src/main/scala/stryker4s/log/SbtLogger.scala
  modules/sbt/src/sbt-test/sbt-stryker4s/test-1/README.md
  modules/testkit/src/main/scala/stryker4s/scalatest/LogMatchers.scala
  modules/testkit/src/main/scala/stryker4s/testutil/MockitoSuite.scala
  modules/testkit/src/main/scala/stryker4s/testutil/Stryker4sSuite.scala
  modules/testkit/src/main/scala/stryker4s/testutil/TestLogger.scala
  project/Dependencies.scala
  project/Release.scala
  project/Settings.scala
Labels: chore

#1451 Update scalameta to 4.8.13
  project/Dependencies.scala
Labels: dependencies

#1450 Update scalafmt-core to 3.7.16
  .scalafmt.conf
  bin/scalafmt
Labels: dependencies

#1452 Replace aggregate with dependsOn for single task
  build.sbt
  docs/contributing.md
  modules/core/src/main/scala/stryker4s/model/InitialTestRunCoverageReport.scala
  modules/core/src/test/scala/stryker4s/run/TestRunnerTest.scala
  modules/sbt/src/main/scala/stryker4s/model/TestInterfaceMapper.scala
  modules/sbt/src/main/scala/stryker4s/sbt/runner/ProcessTestRunner.scala
  modules/sbt/src/main/scala/stryker4s/sbt/runner/TestRunnerConnection.scala
  modules/sbt/src/sbt-test/sbt-stryker4s/test-1/build.sbt
  modules/sbt/src/sbt-test/sbt-stryker4s/test-1/src/test/scala/example/ExampleTest.scala
  modules/sbt/src/sbt-test/sbt-stryker4s/test-1/src/test/scala/example/IgnoreMeTest.scala
  modules/sbt/src/sbt-test/sbt-stryker4s/test-1/src/test/scala/example/TestObj1Spec.scala
  modules/sbt/src/sbt-test/sbt-stryker4s/test-1/src/test/scala/example/TestObj2Spec.scala
  modules/sbtTestRunner/src/main/scala/stryker4s/package.scala
  modules/sbtTestRunner/src/main/scala/stryker4s/sbt/testrunner/Context.scala
  modules/sbtTestRunner/src/main/scala/stryker4s/sbt/testrunner/MessageHandler.scala
  modules/sbtTestRunner/src/main/scala/stryker4s/sbt/testrunner/SbtTestRunnerMain.scala
  modules/sbtTestRunner/src/main/scala/stryker4s/sbt/testrunner/TestInterfaceMapper.scala
  modules/sbtTestRunner/src/main/scala/stryker4s/sbt/testrunner/TestRunner.scala
  modules/testRunnerApi/src/main/protobuf/stryker4s/api/testprocess.proto
  modules/testRunnerApi/src/main/scala/stryker4s/api/testprocess/CoverageReport.scala
  modules/testRunnerApi/src/main/scala/stryker4s/api/testprocess/TestProcessProperties.scala
Labels: chore, skip-changelog

#1453 Add munit to testkit
  maven/pom.xml
  maven/src/test/scala/stryker4s/maven/Stryker4sMavenRunnerTest.scala
  maven/src/test/scala/stryker4s/maven/runner/MavenTestRunnerTest.scala
  modules/commandRunner/src/test/scala/stryker4s/config/ProcessConfigReaderTest.scala
  modules/commandRunner/src/test/scala/stryker4s/run/ProcessTestRunnerTest.scala
  modules/commandRunner/src/test/scala/stryker4s/run/Stryker4sArgumentHandlerTest.scala
  modules/core/src/test/scala/stryker4s/Stryker4sTest.scala
  modules/core/src/test/scala/stryker4s/config/ConfigReaderTest.scala
  modules/core/src/test/scala/stryker4s/config/ConfigTest.scala
  modules/core/src/test/scala/stryker4s/config/TestFilterTest.scala
  modules/core/src/test/scala/stryker4s/config/circe/ConfigEncoderTest.scala
  modules/core/src/test/scala/stryker4s/extension/DurationExtensionsTest.scala
  modules/core/src/test/scala/stryker4s/extension/FileExtensionsTest.scala
  modules/core/src/test/scala/stryker4s/extension/NumberExtensionsTest.scala
  modules/core/src/test/scala/stryker4s/extension/PartialFunctionOpsTest.scala
  modules/core/src/test/scala/stryker4s/extension/ResourceExtensionsTest.scala
  modules/core/src/test/scala/stryker4s/extension/TreeExtensionsTest.scala
  modules/core/src/test/scala/stryker4s/extension/exception/Stryker4sExceptionTest.scala
  modules/core/src/test/scala/stryker4s/extension/mutationtype/MethodExpressionTest.scala
  modules/core/src/test/scala/stryker4s/extension/mutationtype/MutationTypesTest.scala
  modules/core/src/test/scala/stryker4s/files/ConfigFilesResolverTest.scala
  modules/core/src/test/scala/stryker4s/files/GlobFileResolverTest.scala
  modules/core/src/test/scala/stryker4s/files/GlobTest.scala
  modules/core/src/test/scala/stryker4s/model/CompilerErrMsgTest.scala
  modules/core/src/test/scala/stryker4s/model/MutantIdTest.scala
  modules/core/src/test/scala/stryker4s/model/MutantMetadataTest.scala
  modules/core/src/test/scala/stryker4s/mutants/AddAllMutationsTest.scala
  modules/core/src/test/scala/stryker4s/mutants/MutatorTest.scala
  modules/core/src/test/scala/stryker4s/mutants/TreeTraverserTest.scala
  modules/core/src/test/scala/stryker4s/mutants/findmutants/MutantFinderTest.scala
  modules/core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
  modules/core/src/test/scala/stryker4s/mutants/tree/MutantCollectorTest.scala
  modules/core/src/test/scala/stryker4s/mutants/tree/MutantInstrumenterTest.scala
  modules/core/src/test/scala/stryker4s/report/AggregateReporterTest.scala
  modules/core/src/test/scala/stryker4s/report/ConsoleReporterTest.scala
  modules/core/src/test/scala/stryker4s/report/DashboardReporterTest.scala
  modules/core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  modules/core/src/test/scala/stryker4s/report/JsonReporterTest.scala
  modules/core/src/test/scala/stryker4s/report/dashboard/DashboardConfigProviderTest.scala
  modules/core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  modules/core/src/test/scala/stryker4s/run/MutantRunnerTest.scala
  modules/core/src/test/scala/stryker4s/run/ResourcePoolTest.scala
  modules/core/src/test/scala/stryker4s/run/RollbackHandlerTest.scala
  modules/core/src/test/scala/stryker4s/run/TestRunnerTest.scala
  modules/core/src/test/scala/stryker4s/run/process/ProcessRunnerTest.scala
  modules/core/src/test/scala/stryker4s/run/threshold/ThresholdCheckerTest.scala
  modules/testkit/src/main/scala/stryker4s/scalatest/LogMatchers.scala
  modules/testkit/src/main/scala/stryker4s/testkit/FileUtil.scala
  modules/testkit/src/main/scala/stryker4s/testkit/LogMatchers.scala
  modules/testkit/src/main/scala/stryker4s/testkit/MockitoSuite.scala
  modules/testkit/src/main/scala/stryker4s/testkit/Stryker4sSuite.scala
  modules/testkit/src/main/scala/stryker4s/testkit/TestLogger.scala
  modules/testkit/src/main/scala/stryker4s/testutil/MockitoSuite.scala
  modules/testkit/src/main/scala/stryker4s/testutil/Stryker4sSuite.scala
  project/Dependencies.scala
  project/Settings.scala
Labels: chore

#1454 Use Maven project info to resolve files to mutate
  maven/src/main/scala/stryker4s/maven/Stryker4sMavenRunner.scala
  maven/src/main/scala/stryker4s/maven/files/MavenMutatesResolver.scala
  maven/src/test/scala/stryker4s/maven/Stryker4sMavenRunnerTest.scala
  maven/src/test/scala/stryker4s/maven/files/MavenMutatesResolverTest.scala
Labels: enhancement

#1455 Move some packages and remove unused ext methods
  maven/src/test/scala/stryker4s/maven/runner/MavenTestRunnerTest.scala
  modules/commandRunner/src/test/scala/stryker4s/run/ProcessTestRunnerTest.scala
  modules/core/src/main/scala/stryker4s/config/pure/ConfigConfigReader.scala
  modules/core/src/main/scala/stryker4s/exception/stryker4sException.scala
  modules/core/src/main/scala/stryker4s/extension/ImplicitMutationConversion.scala
  modules/core/src/main/scala/stryker4s/extension/TreeExtensions.scala
  modules/core/src/main/scala/stryker4s/log/package.scala
  modules/core/src/main/scala/stryker4s/mutants/TreeTraverser.scala
  modules/core/src/main/scala/stryker4s/mutants/findmutants/MutantMatcher.scala
  modules/core/src/main/scala/stryker4s/mutants/tree/MutantInstrumenter.scala
  modules/core/src/main/scala/stryker4s/mutation/ArgMethodExpression.scala
  modules/core/src/main/scala/stryker4s/mutation/BooleanLiteral.scala
  modules/core/src/main/scala/stryker4s/mutation/ConditionalExpression.scala
  modules/core/src/main/scala/stryker4s/mutation/EqualityOperator.scala
  modules/core/src/main/scala/stryker4s/mutation/LogicalOperator.scala
  modules/core/src/main/scala/stryker4s/mutation/MutationTypes.scala
  modules/core/src/main/scala/stryker4s/mutation/NoArgMethodExpression.scala
  modules/core/src/main/scala/stryker4s/mutation/RegexMutator.scala
  modules/core/src/main/scala/stryker4s/mutation/StringLiteral.scala
  modules/core/src/main/scala/stryker4s/run/MutantRunner.scala
  modules/core/src/test/scala/stryker4s/exception/Stryker4sExceptionTest.scala
  modules/core/src/test/scala/stryker4s/mutants/findmutants/MutantMatcherTest.scala
  modules/core/src/test/scala/stryker4s/mutants/tree/MutantInstrumenterTest.scala
  modules/core/src/test/scala/stryker4s/mutation/MethodExpressionTest.scala
  modules/core/src/test/scala/stryker4s/mutation/MutationTypesTest.scala
  modules/core/src/test/scala/stryker4s/report/AggregateReporterTest.scala
  modules/core/src/test/scala/stryker4s/report/mapper/MutantRunResultMapperTest.scala
  modules/core/src/test/scala/stryker4s/run/MutantRunnerTest.scala
  modules/core/src/test/scala/stryker4s/testutil/TestData.scala
  modules/sbt/src/main/scala/stryker4s/files/SbtMutatesResolver.scala
  modules/sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
  modules/sbt/src/main/scala/stryker4s/sbt/runner/LegacySbtTestRunner.scala
Labels: chore

#1456 Test CI on JDK 21
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
Labels: chore

#1457 Add snapshot resolver if snapshot version is used in sbt plugin
  modules/sbt/src/main/scala/stryker4s/sbt/Stryker4sSbtRunner.scala
Labels: enhancement

#1461 Update sbt-stryker4s to 0.15.2
  project/plugins.sbt
Labels: dependencies

#1462 Update scalafmt-core to 3.7.17
  .scalafmt.conf
Labels: dependencies

#1463 Update scalameta to 4.8.14
  project/Dependencies.scala
Labels: dependencies

#1460 Update mutation-testing-metrics-circe to 3.0.0
  project/Dependencies.scala
Labels: dependencies

#1459 Update mutation-testing-elements to 3.0.1
  modules/core/src/test/scala/stryker4s/report/HtmlReporterTest.scala
  project/Dependencies.scala
Labels: dependencies

#1464 Update mockito-scala, mockito-scala-cats to 1.17.30
  project/Dependencies.scala
Labels: dependencies
